<div class="mdui-panel card-bottom-fix" mdui-panel>

  <div class="mdui-panel-item">
    <div class="mdui-panel-item-header">
      <div class="mdui-panel-item-title"><%= theme.translations.comments %></div>
      <% if (theme.comment.provider) { %>
        <div class="mdui-panel-item-summary"><%= theme.comment.provider %></div>
      <% } %>
      <i class="mdui-panel-item-arrow mdui-icon material-icons">&#xe313;</i>
    </div>
    <div class="mdui-panel-item-body">

      <% if(theme.comment.use === 'custom') { %>
        <%-partial('../../custom/custom_comment')%>
      <% } %>

      <% if(theme.comment.use === 'disqus') { %>
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
          this.page.url = '<%= page.permalink %>';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '<%= page.permalink %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//<%= theme.comment.shortname %>.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript><%- theme.translations.disqus_no_script %></noscript>
      <% } %>
    </div>
  </div>

</div>
