<% if (theme.sns !== false) { %>
  <footer>
    <br />
    <div class="mdui-row mdui-valign mdui-hidden-xs">
      <div class="mdui-col-xs-4">
        <button class="mdui-btn mdui-ripple mdui-center mdui-typo-caption-opacity contact-me-button" mdui-dialog="{target: '#contact-dialog'}"><i class="mdui-icon material-icons">&#xe87c;</i>
          <%= theme.translations.footer.contact_me %>
        </button>
      </div>
      <div class="mdui-col-xs-4">
        <div class="mdui-typo-caption-opacity mdui-text-center">
          <script type="text/javascript">
            copyright = new Date();
            update = copyright.getFullYear();
            document.write("Copyright © <% if (theme.footer.since > 0) { %><%= theme.footer.since %> - <% } %>" + update + " <%= config.author %>");
          </script>
        </div>
        <% if (theme.footer.ICP) { %>
          <div class="mdui-typo-caption-opacity mdui-text-center" onclick="window.open('http://www.miitbeian.gov.cn/', '_blank');"><%= theme.footer.ICP %></div>
        <% } %>
      </div>
      <div class="mdui-col-xs-4">
        <div class="mdui-text-center mdui-typo mdui-typo-caption-opacity">
          Powered by <a href="http://hexo.io">Hexo</a><br>
          Theme - <a href="//github.com/Halyul/hexo-theme-mdui">MDUI</a>
        </div>
      </div>
    </div>

    <div class="mdui-row mdui-hidden-sm-up">
      <div class="mdui-col-xs-12">
        <button class="mdui-btn mdui-ripple mdui-center mdui-typo-caption-opacity contact-me-button" mdui-dialog="{target: '#contact-dialog'}"><i class="mdui-icon material-icons">&#xe87c;</i>
          <%= theme.translations.footer.contact_me %>
        </button>
      </div>
      <div class="mdui-col-xs-12">
        <div class="mdui-text-center mdui-typo-caption-opacity">
          <script type="text/javascript">
            copyright = new Date();
            update = copyright.getFullYear();
            document.write("Copyright © <% if (theme.footer.since > 0) { %><%= theme.footer.since %> - <% } %>" + update + " <%= config.author %>");
          </script>
        </div>
        <% if (theme.footer.ICP) { %>
          <div class="mdui-text-center mdui-typo mdui-typo-caption-opacity" onclick="window.open('http://www.miitbeian.gov.cn/', '_blank');"><%= theme.footer.ICP %></div>
        <% } %>
      </div>
      <div class="mdui-col-xs-12">
        <div class="mdui-text-center mdui-typo mdui-typo-caption-opacity">
          Powered by <a href="http://hexo.io">Hexo</a><br>
          Theme - <a href="//github.com/Halyul/hexo-theme-mdui">MDUI</a>
        </div>
      </div>
    </div>

    <div class="mdui-dialog" id="contact-dialog">
      <div class="mdui-dialog-title">
        <%= theme.translations.footer.how_to_contact_me %>
      </div>
      <div class="mdui-dialog-content no-padding-bottom">
        <div class="mdui-list">
          <% for (var i in theme.sns){ %>
            <a href="<%= theme.sns[i] %>" title="<%= i %>" class="mdui-list-item mdui-ripple" target="_blank">
              <%= i %>
            </a>
          <% } %>
        </div>
      </div>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>
          <%= theme.translations.footer.close %>
        </button>
      </div>
    </div>
  </footer>
<% } else { %>
  <footer>
    <br />
    <div class="mdui-row mdui-valign mdui-hidden-xs">
      <div class="mdui-col-xs-6">
        <div class="mdui-typo-caption-opacity mdui-text-center">
          <script type="text/javascript">
            copyright = new Date();
            update = copyright.getFullYear();
            document.write("Copyright © <% if (theme.footer.since > 0) { %><%= theme.footer.since %> - <% } %>" + update + " <%= config.author %>");
          </script>
        </div>
        <% if (theme.footer.ICP) { %>
          <div class="mdui-typo-caption-opacity mdui-text-center" onclick="window.open('http://www.miitbeian.gov.cn/', '_blank');"><%= theme.footer.ICP %></div>
        <% } %>
      </div>
      <div class="mdui-col-xs-6">
        <div class="mdui-text-center mdui-typo mdui-typo-caption-opacity">
          Powered by <a href="http://hexo.io">Hexo</a><br>
          Theme - <a href="//github.com/Halyul/hexo-theme-mdui">MDUI</a>
        </div>
      </div>
    </div>

    <div class="mdui-row mdui-hidden-sm-up">
      <div class="mdui-col-xs-12">
        <div class="mdui-text-center mdui-typo-caption-opacity">
          <script type="text/javascript">
            copyright = new Date();
            update = copyright.getFullYear();
            document.write("Copyright © <% if (theme.footer.since > 0) { %><%= theme.footer.since %> - <% } %>" + update + " <%= config.author %>");
          </script>
        </div>
        <% if (theme.footer.ICP) { %>
          <div class="mdui-text-center mdui-typo mdui-typo-caption-opacity" onclick="window.open('http://www.miitbeian.gov.cn/', '_blank');"><%= theme.footer.ICP %></div>
        <% } %>
      </div>
      <div class="mdui-col-xs-12">
        <div class="mdui-text-center mdui-typo mdui-typo-caption-opacity">
          Powered by <a href="http://hexo.io">Hexo</a><br>
          Theme - <a href="//github.com/Halyul/hexo-theme-mdui">MDUI</a>
        </div>
      </div>
    </div>
  </footer>
<% } %>
