<!-- Import JS -->
<% if (theme.location === 'cn') { %>
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/outdated-browser/1.1.3/outdatedbrowser.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery-smooth-scroll/2.1.2/jquery.smooth-scroll.min.js"></script>
  <script src="https://cdn.bootcss.com/lightgallery/1.3.9/js/lightgallery.min.js"></script>
<% } else { %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.1.2/jquery.smooth-scroll.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.9/js/lightgallery.min.js"></script>
<% } %>

<% if (theme.service_woker === true) { %>
  <script>
    if ('serviceWorker' in navigator) {
     navigator.serviceWorker.register('/sw.js');
    }
  </script>
<% } %>

<% if(theme.vendors.mdui_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.mdui_min_js %>"></script>
<% } else { %>
  <%- js("js/mdui.min") %>
<% } %>

<% if(theme.vendors.js_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.js_min_js %>"></script>
<% } else { %>
  <% if (theme.style.scheme === '1') { %>
    <%- js("js/1/js.min") %>
  <% } else { %>
    <%- js("js/0/js.min") %>
  <% } %>
<% } %>

<% if (theme.busuanzi !== false) { %>
  <script src="<%= theme.busuanzi.busuanzi_pure_mini_js %>"></script>
<% } %>
<% if (is_home() || is_archive() || is_year() || is_month() || is_category() || is_tag()) { %>
  <script type="text/javascript">
    var fab_index = new mdui.Headroom('#fab_index', {
      pinnedClass: 'fab',
      unpinnedClass: 'mdui-fab-hide'
    });
  </script>
<% } %>
<% if (!is_home()) { %>
  <script type="text/javascript">
  $(document).on('click', '.back-button', function() {
      window.history.back();
  });
  </script>
<% } %>
<% if (!is_post() && theme.translations.snackbar && page.total > 1) { %>
  <script type="text/javascript">
    $(document).on('click', 'a[name="snackbar"]', function () {
      mdui.snackbar({
        message: '<%= theme.translations.snackbar %>',
        timeout: 1000
      });
    });
  </script>
<% } %>
<% if (!is_home() || !is_archive() || !is_year() || !is_month() || !is_category() || !is_tag()) { %>
  <script type="text/javascript">
    $(document).ready(function(){
      if($(".toc").length == 0)
      {
        $("#button-toc").addClass("mdui-hidden");
      };
    });
  </script>

  <script>
  $('img').click(function() {
    var img_src = $(this).attr('src');
    var img_alt = $(this).attr('alt');
    $(this).lightGallery({
      dynamic: true,
      dynamicEl: [{
        "src": img_src,
        'subHtml': "<p>" + img_alt + "</p>"
        }],
    });
  })
  </script>

  <!-- MathJax Load-->
  <% if (page.mathjax) { %>
    <%- partial('../../widget/mathjax') %>
  <% } %>
<% } %>

<!-- Custom javascript -->
<%-partial('../../custom/custom_js')%>
