<div class="index-warper animate-post">
  <div id="index">
    <div class="faviconImg">
      <img class="mdui-img-fluid" src="<%= theme.head.high_res_favicon %>" />
    </div>
    <% if (theme.appbar.search === true) { %>
      <div id="search">
        <div class="mdui-toolbar
          <% if (theme.color.layout === 'dark') { %>
            mdui-color-grey-900
          <% } else { %>
            mdui-color-theme
          <% } %>
         mdui-shadow-2">
          <button class="mdui-btn mdui-ripple mdui-btn-icon drawer-button" mdui-drawer="{target: '#drawer'}">
            <i class="mdui-icon">
              <span></span>
            </i>
          </button>
          <div class="mdui-toolbar-spacer
          <% if (theme.color.layout === 'dark') { %>
            mdui-color-grey-900
          <% } else { %>
            mdui-color-theme
          <% } %>
           mdui-ripple" id="search-btn">
            <div class="mdui-typo-subheading-opacity"><%= __('search.text') %></div>
          </div>
          <%- partial('../menu/index_more') %>
          <%- partial('../menu/index_share') %>
          <div class="search">
            <div class="icon">
              <i class="mdui-icon material-icons">&#xe8b6;</i>
            </div>
            <div class="text">
              <input type="text" placeholder="<%= __('search.text') %>" id="search-input"/>
            </div>
          </div>
          <button class="mdui-btn mdui-btn-icon mdui-ripple close" id="close-button"><i class="mdui-icon material-icons">&#xe5cd;</i></button>
        </div>
      </div>
    <% } %>
  </div>
  <div id="search-cover" searchResult></div>

  <% if (theme.index.notification === true) { %>
    <div class="info-notification">
      <div class="content"></div>
    </div>
  <% } %>

  <div id="posts">
    <%
      var index = 0;
      var posts = page.posts.filter(function(post) {
        if (post.pinned) {
    %>
          <%-partial('../posts', { index: index, post })%>
        <%
          index++;
          return false;
        }
        return true;
      })
    %>
    <% posts.forEach(function(post) {%>
        <%-partial('../posts', { index: index, post })%>
    <%
      index++;
    }); %>
  </div>
  <%-partial('../pagination/index', {base: url_for(config.root), show: theme.pagination })%>
  <%-partial('../fab/index')%>
</div>
