<div class="content-item">
  <% if(index === 0 && page.current === 1) { %>
    <div class="mdui-card mdui-center" style="overflow: visible;">
      <div class="mdui-card-header index-welcome">
        <img class="mdui-card-header-avatar" src="<%= theme.style.avatar %>" style="margin-right: 8px;"/>
        <div class="mdui-valign">
          <div class="mdui-typo-subheading-opacity">
            <%= theme.index.welcome %>
          </div>
        </div>
        <div class="flex-spacer"></div>
        <%- partial('../menu/index_share') %>
      </div>
    </div>
    <% if (theme.index.notification === true) { %>
      <div class="info-notification">
        <div class="content"></div>
      </div>
    <% } %>
  <% } %>
  <% if(index <= 2) { %>
    <div class="posts-header mdui-center" style="max-width: 498px;">
      <%= __('posts.header') %>
    </div>
  <% } %>
  <%-partial('../posts', { post: post })%>
</div>
