<%
var pageTitle = page.title || '';
if (is_home()) pageTitle = __('global.index');
if (is_archive()) pageTitle = __('global.archives');
if (is_tag()) pageTitle = page.tag;
if (is_category()) pageTitle = page.category;
if (is_year()) pageTitle = page.year;
if (page.path === 'search/index.html') pageTitle = __('search.text');
%>
<% //appbar for index
  if (is_home())
{ %>
  <div class="mdui-appbar animate-appbar mdui-shadow-0" id="blog-appbar">
    <div class="mdui-toolbar">
      <button class="mdui-btn mdui-ripple mdui-btn-icon drawer-button" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon">
          <span></span>
        </i>
      </button>
    </div>
  </div>
<% //appbar for post and custom page
  } else if (!is_home() && !is_archive() && !is_year() && !is_month() && !is_category() && !is_tag() && page.path !== 'search/index.html' && page.layout !== 'galleries' && page.layout !== 'gallery' && page.layout !== 'friends')
{ %>
  <div class="mdui-appbar mdui-shadow-0 mdui-appbar-fixed animate-appbar" id="blog-appbar">
    <div class="mdui-toolbar mdui-color-theme">
      <button class="mdui-btn mdui-ripple mdui-btn-icon drawer-button" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon">
          <span></span>
        </i>
      </button>
      <% if (theme.appbar.title) { %>
        <a href="<%= config.root %>" class="mdui-typo-headline">
          <%= theme.appbar.title %>
        </a>
      <% } %>
      <% if (theme.appbar.search === true) { %>
        <div class="search mdui-hidden-xs" onclick="openSearch()" id="search">
          <div class="icon">
            <i class="mdui-icon material-icons">&#xe8b6;</i>
          </div>
          <div class="text">
            <span id="search-text"><%= __('search.text') %></span>
            <input id="search-input" class="mdui-hidden" type="text" placeholder="<%= __('search.text') %>" id="search-input"/>
          </div>
        </div>
      <% } %>
      <% if (theme.appbar.search !== true) { %>
        <div class="flex-spacer"></div>
      <% } else { %>
        <div class="flex-spacer mdui-hidden-sm"></div>
      <% } %>
      <% if (theme.appbar.search === true) { %>
        <button class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden" onclick="closeSearch()" id="close-button"><i class="mdui-icon material-icons">&#xe5cd;</i></button>
        <button class="mdui-btn mdui-ripple mdui-btn-icon mdui-hidden-sm-up search-button" onclick="mobileSearch()"><i class="mdui-icon material-icons">&#xe8b6;</i></button>
      <% } %>
      <%- partial('../menu/index_more') %>
    </div>
  </div>
<% // appbar for friends, category, tag, year page
  } else if (page.layout === 'friends' || is_category() || is_tag() || is_year())
{ %>
    <div class="mdui-appbar animate-appbar mdui-shadow-0 mdui-appbar-fixed" id="blog-appbar">
      <div class="mdui-toolbar mdui-color-theme mdui-shadow-2">
        <button class="mdui-btn mdui-ripple mdui-btn-icon drawer-button" mdui-drawer="{target: '#drawer'}">
          <i class="mdui-icon">
            <span></span>
          </i>
        </button>
        <% if (theme.appbar.title) { %>
          <a href="<%= config.root %>" class="mdui-typo-headline">
            <%= theme.appbar.title %>
          </a>
          <span class="appbar-border-line mdui-hidden-xs"></span>
        <% } %>
        <% if (is_category() || is_tag() || is_year() || page.layout === 'friends') {%>
          <span class="mdui-typo-title mdui-hidden-xs"
            <% if (is_category() || is_tag() || is_year() || is_post()) { %>
              onclick="smoothScroll.animateScroll( 0 );"
            <% } %>
          >
            <%= pageTitle %>
          </span>
        <% } %>
        <% if (theme.appbar.search === true && page.layout !== 'friends') { %>
          <div class="search mdui-hidden-xs" onclick="openSearch()" id="search">
            <div class="icon">
              <i class="mdui-icon material-icons">&#xe8b6;</i>
            </div>
            <div class="text">
              <span id="search-text"><%= __('search.text') %></span>
              <input id="search-input" class="mdui-hidden" type="text" placeholder="<%= __('search.text') %>" id="search-input"/>
            </div>
          </div>
        <% } %>
        <% if (theme.appbar.search !== true || page.layout === 'friends') { %>
          <div class="flex-spacer"></div>
        <% } else { %>
          <div class="flex-spacer mdui-hidden-sm"></div>
        <% } %>
        <% if (theme.appbar.search === true && page.layout !== 'friends') { %>
          <button class="mdui-btn mdui-ripple mdui-btn-icon mdui-hidden-sm-up search-button" onclick="mobileSearch()"><i class="mdui-icon material-icons">&#xe8b6;</i></button>
          <button class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden" onclick="closeSearch()" id="close-button"><i class="mdui-icon material-icons">&#xe5cd;</i></button>
        <% } %>
        <%- partial('../menu/index_more') %>
      </div>
    </div>
  <% // appbar for archive page
    } else if (is_archive() && page.path !== 'search/index.html')
  { %>
      <div class="mdui-appbar mdui-appbar-fixed animate-appbar mdui-shadow-0" id="blog-appbar">
        <div class="mdui-toolbar mdui-color-theme mdui-shadow-2">
          <button class="mdui-btn mdui-ripple mdui-btn-icon drawer-button" mdui-drawer="{target: '#drawer'}">
            <i class="mdui-icon">
              <span></span>
            </i>
          </button>
          <% if (theme.appbar.title) { %>
            <a href="<%= config.root %>" class="mdui-typo-headline mdui-hidden-sm-down">
              <%= theme.appbar.title %>
            </a>
            <span class="appbar-border-line mdui-hidden-sm-down"></span>
          <% } %>
          <span class="mdui-typo-title"><%= config.author %></span>
          <div class="mdui-toolbar-spacer"></div>
          <% if (theme.about_me === true) { %>
            <button class="mdui-btn mdui-btn-dense mdui-ripple mdui-hidden-md-up" mdui-dialog="{target: '#aboutmeDialog'}"><%= __('archive.about') %></button>
          <% } %>
          <%- partial('../menu/index_more') %>
        </div>
      </div>
<% // appbar for galleries and gallery
  } else if (page.layout === 'galleries' || page.layout === 'gallery')
{ %>
  <div class="mdui-appbar mdui-shadow-0 mdui-appbar-fixed animate-appbar <% if (page.layout === 'gallery') { %>gallery-fix<% } %>" id="blog-appbar" style="background-color: #303030">
    <div class="mdui-toolbar">
      <% if (page.layout === 'gallery') { %>
        <button class="mdui-btn mdui-ripple mdui-btn-icon" back>
          <i class="mdui-icon material-icons">&#xe5c4;</i>
        </button>
      <% } %>
      <a class="logo no-text-decoration mdui-hidden-sm-up" href="<%= config.root %>" target="_self">
        <img class="mdui-img-circle mdui-img-fluid mdui-center" src="<%= theme.head.high_res_favicon %>"/>
      </a>
      <a href="<%= config.root %>" target="_self" class="mdui-typo-headline mdui-hidden-xs">
        <%= theme.appbar.title %>
      </a>
      <span class="appbar-border-line mdui-hidden-xs"></span>
      <span class="mdui-typo-title"><%= page.title %></span>
      <div class="mdui-toolbar-spacer"></div>
      <%- partial('../menu/index_more') %>
      <%- partial('../menu/page_share') %>
      <% if (page.layout !== 'gallery') { %>
        <span class="appbar-border-line mdui-hidden-xs"></span>
        <div class="appbar-userview mdui-valign" mdui-menu="{target: '#menu-userview', covered: false}">
          <img class="mdui-img-circle appbar-userview-avatar mdui-center" src="<%= theme.style.avatar %>"/>
        </div>
        <%- partial('../menu/userview') %>
      <% } %>
    </div>
  </div>
<% } %>
<% if (!is_home() && !is_archive() && page.layout !== 'galleries' && page.layout !== 'gallery' && page.layout !== 'friends') { %>
  <div id="search-cover" searchResult onclick="closeSearch()"></div>
<% } %>
