<% if (is_home()) { %>
  <div class="mdui-list no-padding-bottom">
    <li class="mdui-list-item mdui-ripple mdui-list-item-active">
      <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-theme-accent">&#xe88a;</i>
      <div class="mdui-list-item-content mdui-text-color-theme-accent">
        <%= __('global.index') %>
      </div>
    </li>
  </div>
<% } else { %>
  <div class="mdui-list no-padding-bottom">
    <a href="<%= config.root %>">
      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xe88a;</i>
        <div class="mdui-list-item-content">
          <%= __('global.index') %>
        </div>
      </li>
    </a>
  </div>
<% } %>
<% if (!is_year() && is_archive()) { %>
  <div class="mdui-list no-padding-top">
    <li class="mdui-list-item mdui-ripple mdui-list-item-active">
      <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-theme-accent">&#xe149;</i>
      <div class="mdui-list-item-content mdui-text-color-theme-accent">
        <%= __('global.archives') %>
        <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= site.posts.length %></span>
      </div>
    </li>
  </div>
<% } else { %>
  <div class="mdui-list no-padding">
    <a href="<%= config.root %>archives">
      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xe149;</i>
        <div class="mdui-list-item-content">
          <%= __('global.archives') %>
          <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= site.posts.length %></span>
        </div>
      </li>
    </a>
  </div>
<% } %>
<% if (!is_archive() || is_year()) { %>
  <div class="mdui-list no-padding-top" mdui-collapse="{accordion: true}" mdui-collapse>
    <% if (site.categories && site.categories.length) { %>
      <div class="mdui-collapse-item <% if (is_category()) { %>mdui-collapse-item-open<% } %>">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xe86e;</i>
          <div class="mdui-list-item-content"><%= __('global.categories') %></div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe5c5;</i>
        </div>
        <div class="mdui-collapse-item-body mdui-list">
          <% site.categories.map(function(category){  %>
            <a href="<%= config.root %>categories/<%= category.name %>/" class="mdui-list-item mdui-ripple" style="display: flex">
              <%= category.name %>
              <div style="flex-grow: 1;"></div>
              <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= category.length %></span>
            </a>
          <% }) %>
        </div>
      </div>
    <% } %>
    <% if (site.tags && site.tags.length) { %>
      <div class="mdui-collapse-item <% if (is_tag()) { %>mdui-collapse-item-open<% } %>">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon fa fa-tags mdui-text-center"></i>
          <div class="mdui-list-item-content"><%= __('global.tags') %></div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe5c5;</i>
        </div>
        <div class="mdui-collapse-item-body mdui-list">
          <% site.tags.map(function(tag){  %>
            <a href="<%= config.root %>tags/<%= tag.name %>/" class="mdui-list-item mdui-ripple" style="display: flex">
              <%= tag.name %>
              <div style="flex-grow: 1;"></div>
              <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= tag.length %></span>
            </a>
          <% }) %>
        </div>
      </div>
    <% } %>
    <div class="mdui-collapse-item <% if (is_year()) { %>mdui-collapse-item-open<% } %>">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xe916;</i>
        <div class="mdui-list-item-content"><%= __('global.years') %></div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe5c5;</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list">
        <%
        var years = {};
        site.posts.sort('date').reverse().forEach(function(post){
          var year = post.date.year()
          if(years[year]===undefined){
            years[year] = [];
          }
          years[year].push(post);
        });
        %>
        <% Object.keys(years).reverse().forEach(function(year){  %>
          <a href="<%= config.root %>archives/<%= year %>/" class="mdui-list-item mdui-ripple">
            <%= year %>
          </a>
        <% }) %>
      </div>
    </div>
  </div>
<% } %>
<% if (theme.pages !== null) { %>
  <div class="mdui-divider"></div>
  <div class="mdui-list" mdui-collapse="{accordion: true}" mdui-collapse>
    <% for (var i in theme.pages) { %>
      <% if (theme.pages[i].cascade === true) { %>
        <div class="mdui-collapse-item">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <% if (theme.pages[i].fa) { %>
              <i class="mdui-list-item-icon mdui-icon fa <%= theme.pages[i].fa %> mdui-text-center"></i>
            <% } %>
            <% if (theme.pages[i].md) { %>
              <i class="mdui-list-item-icon mdui-icon material-icons"><%- theme.pages[i].md %></i>
            <% } %>
            <% if (theme.pages[i].null_icon === true) { %>
              <i class="mdui-list-item-icon"></i>
            <% } %>
            <div class="mdui-list-item-content"><%= i %></div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe5c5;</i>
          </div>
          <div class="mdui-collapse-item-body mdui-list">
            <% for (var x in theme.pages[i].pages) { %>
              <a href="<%= theme.pages[i].pages[x].link %>" class="mdui-list-item mdui-ripple" target="_blank">
                <%= x %>
              </a>
            <% } %>
          </div>
        </div>
      <% } else { %>
        <a href="<%= theme.pages[i].link %>" target="_blank">
          <li class="mdui-list-item mdui-ripple">
            <% if (theme.pages[i].fa) { %>
              <i class="mdui-list-item-icon mdui-icon fa <%= theme.pages[i].fa %> mdui-text-center"></i>
            <% } %>
            <% if (theme.pages[i].md) { %>
              <i class="mdui-list-item-icon mdui-icon material-icons"><%- theme.pages[i].md %></i>
            <% } %>
            <% if (theme.pages[i].null_icon === true) { %>
              <i class="mdui-list-item-icon"></i>
            <% } %>
            <div class="mdui-list-item-content"><%= i %></div>
          </li>
        </a>
      <% } %>
    <% } %>
  </div>
<% } %>
