<head>
		<title>
    <% if (page.title) { %>
        <%= page.title + ' | ' %>
    <% } %>
    <%= config.title %>
    </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><%- js("js/gallery/ie/html5shiv") %><![endif]-->
    <%- css("css/gallery/main") %>
		<!--[if lte IE 8]><%- css("css/gallery/ie8") %><![endif]-->
		<!--[if lte IE 9]><%- css("css/gallery/ie9") %><![endif]-->
		<noscript><%- css("css/gallery/noscript") %></noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1><%= page.title %></h1>
            <h6>- <a href="<%= config.root %>"><%- config.title %></a></h6>
						<p><%- page.content %></p>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
            <% if (site.data.gallery) { %>
                <% for (var i in site.data.gallery) { %>
                   <article>
                    <a class="thumbnail" href="<%= site.data.gallery[i].full_link %>" data-position="left center"><img src="<%= site.data.gallery[i].thumb_link %>" alt="<%= i %>" /></a>
							      <h2><%= i %></h2>
                    <p><%= site.data.gallery[i].descr %></p>
						      </article>
                <% } %>
            <% } %>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; <%- config.author %></li><!--<li>Design: <a href="http://html5up.net">HTML5 UP</a>.--></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
      <%- js("js/jquery.min") %>
      <%- js("js/gallery/skel.min") %>
      <%- js("js/gallery/main") %>
			<!--[if lte IE 8]><%- js("js/gallery/ie/respond.min") %><![endif]-->

	</body>