<% if (!is_year()) { %>
  <%- partial('_partials/archives/index') %>
<% } else { %>
  <% if (theme.style.scheme === 'now') { %>
    <%- cssLsload({path:(config.root + 'css/src/now/archives.min'),key:'archives_css'}) %>
  <% } else { %>
    <%- cssLsload({path:(config.root + 'css/src/plus/archives.min'),key:'archives_css'}) %>
  <% } %>
  <div class="posts-container column-3">

  </div>
  <div id="content-list" class="animate">
    <% page.posts.each(function(post,index) {%>
      <div class="content-item">
        <%-partial('_partials/posts', { post: post })%>
      </div>
    <% }); %>
  </div>
  <%-partial('_partials/pagination/index', {base: url_for(config.root) + 'archives/' + page.year + '/', show: theme.pagination })%>
<% } %>
<%-partial('_partials/fab/index')%>
