
<%
var categoriesList = list_categories({ show_count: false }),
  tagsList = list_tags({ show_count: false }),
  archivesList = list_archives({ show_count: false });
%>

<% if (!is_year()) { %>
  <div id="archive">

    <h1>Archives</h1>

    <% if (theme.atom) { %>
      <p>
        The feed is available via
        <a href="<%=theme.atom%>">atom</a>.
      </p>
      <br>
    <% } %>

    <aside>
      <h2>Categories</h2>
      <% if (categoriesList) { %>
        <%-categoriesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>

    <aside>
      <h2>Tags</h2>
      <% if (tagsList) { %>
        <%-tagsList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>

    <aside>
      <h2>Archives</h2>
      <% if (archivesList) { %>
        <%-archivesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>

  </div>
<% } else { %>

  <div class="theme-years">
    <div class="theme-posts">
      <% var position = 0 %>
      <% page.posts.forEach(function(post) {%>
          <%-partial('_partials/posts', { position: position, post })%>
      <%
        position++;
      }); %>
    </div>
    <%-partial('_partials/fab/index')%>
    <%-partial('_partials/pagination/index')%>
  </div>

<% } %>

<%-partial('partials/pagination')%>
