<!DOCTYPE html>
<html lang="<%=config.language%>">
<%-partial('partials/head')%>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= theme.color.primary_color %> mdui-theme-accent-<%= theme.color.accent_color %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
<%- partial('partials/appbar') %>
<%- partial('partials/drawer') %>
<main class="mdui-container">
  <br />
  <%- body %>
</main>
</body>
<%- partial('partials/footer') %>
<%- partial('partials/import_js') %>
</html>
