<%
if (is_home()) pageLayout = 'index';
if (!is_home()) pageLayout = 'NIndex';
%>

<!DOCTYPE html>
<html <% if(config.language !== null) { %>lang="<%- config.language.substring(0,2) %>"<% } %>>

<%-partial('_partials/head')%>

<body class="mdui-drawer-body-left mdui-theme-primary-<%= theme.style.primary_color %> mdui-theme-accent-<%= theme.style.accent_color %>">

  <%-partial('_partials/appbar')%>
  <%-partial('_partials/drawer')%>
  <div id="top"></div>

  <div id="barba-wrapper">
    <div class="barba-container" data-namespace="<%= pageLayout %>">
      <main>
        <%- body %>
      </main>
    </div>
  </div>

  <%-partial('_partials/import_js')%>

</body>
</html>
