<!DOCTYPE html>
<html lang="<%=config.language%>">
<%-partial('partials/head')%>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= theme.color.primary_color %> mdui-theme-accent-<%= theme.color.accent_color %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>">
<%- partial('partials/appbar') %>
<%- partial('partials/drawer') %>
<main class="mdui-container">
  <br />

  <div id="menu-outer">
    <div id="menu-inner">
      <% Object.keys(theme.menu).forEach(function(key) { %>
        <a href="<%=theme.menu[key]%>"><%=key%></a>
      <% }); %>
    </div>
  </div>

  <div id="content-outer">
    <div id="content-inner">
      <%- body %>
    </div>
  </div>

  <div id="bottom-outer">
    <div id="bottom-inner">
      Site by <%=config.author%> using
      <a href="http://hexo.io">hexo blog framework</a>.
      <br>
      <a href="<%=config.root%>">Home</a>
    </div>
  </div>

  <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <!-- scripts list from theme config.yml -->
    <% theme.scripts.forEach(function(url) { %>
      <script src="<%=url%>"></script>
    <% }); %>
  <% } %>
</main>
</body>
<%- partial('partials/footer') %>
<%- partial('partials/import_js') %>
</html>
