<%
  var layout;

  function is_customLayout() {
    if (page.layout === "gallery" || page.layout === "galleries") {
      return true
    }
  }

  if (is_home() || is_year() || is_tag() || is_category()) layout = 'posts';
  if (is_post()) layout = 'post';
  if (is_archive() && !is_year()) layout = 'archive';
  if (!is_home() && !is_year() && !is_tag() && !is_category() && !is_post() && !is_archive() && !is_customLayout()) layout = 'post';
  if (is_customLayout()) layout = page.layout
%>
<!DOCTYPE html>
<html <% if(config.language !== null) { %>lang="<%- config.language.substring(0,2) %>"<% } %>>

<%-partial('_partials/head')%>

<body class="mdui-drawer-body-left mdui-theme-primary-<%= theme.style.primary_color %> mdui-theme-accent-<%= theme.style.accent_color %>">

  <%-partial('_partials/appbar')%>
  <%-partial('_partials/drawer')%>
  <div id="top"></div>

  <%- js("js/lightgallery.min") %>
  
  <main>
    <div id="barba-wrapper">
      <div class="barba-container"  data-namespace="<%= layout %>">
        <%- body %>
      </div>
    </div>
  </main>

  <%-partial('_partials/import_js')%>

</body>
</html>
