<% var primary_color = ['red','pink','purple','deep-purple','indigo','blue','light-blue','cyan','teal','green','light-green','lime','yellow','amber','orange','deep-orange','brown','grey'];
  var accent_color = ['red','pink','purple','deep-purple','indigo','blue','light-blue','cyan','teal','green','light-green','lime','yellow','amber','orange','deep-orange'];
  var primary_num = Math.floor(Math.random() * primary_color.length);
  var accent_num = Math.floor(Math.random() * accent_color.length);
%>
<!DOCTYPE html>
<html lang="<%=config.language%>">
<%-partial('partials/share/head')%>
<% if (theme.style.scheme === '1') { %>
  <% if (theme.color.random === 'gobal') { %>
    <body class="mdui-theme-primary-<%= page.primary_color || primary_color[primary_num] %> mdui-theme-accent-<%= page.accent_color || accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
  <% } else if (theme.color.random === 'post' && is_post()) { %>
      <body class="mdui-theme-primary-<%= page.primary_color || primary_color[primary_num] %> mdui-theme-accent-<%= page.accent_color || accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
  <% } else { %>
    <body class="mdui-theme-primary-<%= theme.color.primary_color %> mdui-theme-accent-<%= theme.color.accent_color %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
  <% } %>
  <%- partial('partials/1/appbar') %>
  <%- partial('partials/1/parallax_card') %>
  <main class="mdui-center style-1-top style-1-container">
    <%- body %>
  </main>
<% } else { %>
  <% if (theme.color.random === 'gobal') { %>
    <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= primary_color[primary_num] %> mdui-theme-accent-<%= accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
  <% } else if (theme.color.random === 'post' && is_post()) { %>
    <% if (page.primary_color || page.accent_color) { %>
      <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= page.primary_color || primary_color[primary_num] %> mdui-theme-accent-<%= page.accent_color || accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
    <% } else { %>
      <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= primary_color[primary_num] %> mdui-theme-accent-<%= accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
    <% } %>
  <% } else { %>
    <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= theme.color.primary_color %> mdui-theme-accent-<%= theme.color.accent_color %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %>" id="top">
  <% } %>

  <%- partial('partials/0/appbar') %>
  <main class="mdui-container">
    <br />
    <%- body %>
  </main>
<% } %>

<%- partial('partials/share/drawer') %>
<div id="outdated">
  <h6><%= theme.translations.outdated_browser.title %></h6>
  <p><%= theme.translations.outdated_browser.line_one %><a id="btnUpdateBrowser" href="http://outdatedbrowser.com/"><%= theme.translations.outdated_browser.link %></a></p>
  <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="<%= theme.translations.outdated_browser.close %>">&times;</a></p>
</div>
<%- partial('partials/share/footer') %>
</body>
<%- partial('partials/share/import_js') %>
</html>
