<% if (theme.color.random === 'global' || theme.color.random === 'post') { %>
  <% var primary_color = ['red','pink','purple','deep-purple','indigo','blue','light-blue','cyan','teal','green','light-green','lime','yellow','amber','orange','deep-orange','brown','grey','blue-grey'];
    var accent_color = ['red','pink','purple','deep-purple','indigo','blue','light-blue','cyan','teal','green','light-green','lime','yellow','amber','orange','deep-orange'];
    var primary_num = Math.floor(Math.random() * primary_color.length);
    var accent_num = Math.floor(Math.random() * accent_color.length);
  %>
<% } %>
<!DOCTYPE html>
<html <% if(config.language !== null) { %>lang="<%- config.language.substring(0,2) %>"<% } %>>
<% if (theme.color.random === 'global' || theme.color.random === 'post') { %>
  <%-partial('partials/head', { primary_color: primary_color[primary_num] })%>
<% } else { %>
  <%-partial('partials/head')%>
<% } %>

<% if (theme.color.random === 'global') { %>
  <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= primary_color[primary_num] %> mdui-theme-accent-<%= accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %> <% if (!is_category() && !is_tag() && !is_year()) { %>mdui-drawer-body-left<% } %> <% if (is_category() || is_tag() || is_year()) { %>drawer-overlay-none<% } %>" id="top">
<% } else if (theme.color.random === 'post' && is_post()) { %>
  <% if (page.primary_color || page.accent_color) { %>
    <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= page.primary_color || primary_color[primary_num] %> mdui-theme-accent-<%= page.accent_color || accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %> <% if (!is_category() && !is_tag() && !is_year()) { %>mdui-drawer-body-left<% } %> <% if (is_category() || is_tag() || is_year()) { %>drawer-overlay-none<% } %>" id="top">
  <% } else { %>
    <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= primary_color[primary_num] %> mdui-theme-accent-<%= accent_color[accent_num] %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %> <% if (!is_category() && !is_tag() && !is_year()) { %>mdui-drawer-body-left<% } %> <% if (is_category() || is_tag() || is_year()) { %>drawer-overlay-none<% } %>" id="top">
  <% } %>
<% } else { %>
  <body class="mdui-appbar-with-toolbar mdui-theme-primary-<%= theme.color.primary_color %> mdui-theme-accent-<%= theme.color.accent_color %> <% if (theme.color.layout === 'dark') { %>mdui-theme-layout-dark<% } %> <% if (!is_category() && !is_tag() && !is_year()) { %>mdui-drawer-body-left<% } %> <% if (is_category() || is_tag() || is_year()) { %>drawer-overlay-none<% } %>" id="top">
<% } %>

<%- partial('partials/appbar') %>

<main>
  <%- body %>
</main>

<%- partial('partials/drawer') %>
<div id="outdated" style="z-index: 99999;">
  <h6><%= theme.translations.outdated_browser.title %></h6>
  <p><%= theme.translations.outdated_browser.line_one %><a id="btnUpdateBrowser" href="http://outdatedbrowser.com/"><%= theme.translations.outdated_browser.link %></a></p>
  <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="<%= theme.translations.outdated_browser.close %>">&times;</a></p>
</div>
<%- partial('partials/dialogs') %>
<%- partial('partials/import_js') %>
<% if (page.layout === 'gallery') { %>
  <%- partial('widget/page_gallery') %>
  <% if (page.vimeo_video === true) { %>
    <script type="text/javascript" src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
  <% } %>
<% } %>
</body>

</html>
