<%
  var randomPic = Math.floor(Math.random() * theme.random_pics + 1);
%>
<style>
  .lg-outer .lg-item {
    background-image: url("<%= config.root + 'img/loading.gif' %>");
  }
</style>
<div class="post-bg-color
  <% if (theme.style.scheme === 'now') { %>
    mdui-color-theme
  <% } %>
"></div>
<div class="post-header
  <% if (theme.style.scheme === 'now') { %>
    mdui-color-theme
  <% } %>
">
  <div class="post-header-container">
    <div class="post-title mdui-text-truncate"><%= page.title %></div>
    <div class="post-actions">
      <span><%= date(page.date, 'MMM DD, YYYY') %></span>
      <% if(theme.post.qr_code === true) { %>
        <button class="mdui-btn mdui-ripple mdui-btn-icon mdui-float-right mdui-hidden-xs-down" mdui-menu="{target: '#menu-qrcode'}">
          <i class="mdui-icon material-icons">&#xe337;</i>
          </button>
          <%- partial('_partials/menu/qrcode') %>
      <% } %>
      <%- partial('_partials/menu/post_share') %>
    </div>
  </div>
</div>
<div class="post-container">
  <div class="post-adjust">
    <div class="mdui-card card-bottom-fix menu-fix <% if (theme.style.hoverable === true) { %>mdui-hoverable<% } %>" id="blog-post">
      <div class="mdui-card-media">
        <img src="<%= page.thumbnail || config.root + 'img/random/picHD_' + randomPic + '.png' %>"/>
      </div>
      <div class="post-content mdui-typo no-margin
        <%= theme.post.prism.theme %>
        <% if (theme.post.prism.line_number === true && theme.post.prism.theme) { %>
          line-number
        <% } %>
      " id="post-content">
        <%-page.content%>
      </div>

      <% if (theme.post.donate !== false) { %>
        <div class="posts-card-actions">
          <button class="mdui-btn mdui-ripple mdui-btn-icon mdui-color-red mdui-ripple mdui-center mdui-btn-dense" mdui-tooltip="{content: '<%= __('posts.donate.button') %>', position: 'right'}" mdui-dialog="{target: '#donateDialog'}"><i class="mdui-icon fa fa-beer mdui-text-center"></i></button>
        </div>
      <% } %>
      <% if (page.comment !== false) { %>
        <% if (theme.comment.use === 'disqus' || theme.comment.use === 'custom') { %>
          <div class="posts-line">
            <div class="mdui-divider"></div>
          </div>
          <div class="post-comment">
            <%- partial('_partials/comment') %>
          </div>
        <% } %>
      <% } %>
    </div>
    <div id="card-toc" class="mdui-color-theme">
      <%- customToc(page.content, {
                class: 'post-toc'
            }) %>
    </div>
  </div>
</div>
<%-partial('_partials/fab/post')%>
