<br />
<div class="mdui-card" style="margin-bottom: 16px;overflow: visible;">

  <% if(theme.post.userview === "top") { %>
    <div class="mdui-card-header">
      <img class="mdui-card-header-avatar" src="<%= theme.userview.avatar %>"/>
      <div class="mdui-card-header-title"><%= config.author %></div>
      <div class="mdui-card-header-subtitle"><%= date(page.date, 'MMM DD, YYYY') %></div>
    </div>
  <% } %>

  <% if(theme.post.title === "card-top") { %>
    <div class="mdui-card-primary mdui-typo">
      <div class="mdui-card-primary-title"><%=page.title%></div>
      <div class="mdui-card-primary-subtitle">
        <%- list_categories(page.categories, {
            show_count: false,
            style: 'none'
            }) %>
        </div>
    </div>
  <% } %>

  <div class="mdui-card-media">
    <img src="<%- page.thumbnail %>" style="height: 223px;"/>

    <div class="mdui-card-menu">
      <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">&#xe80d;</i></button>
    </div>
    <div class="mdui-card-media-covered <% if(theme.post.gradient === true) { %>mdui-card-media-covered-gradient<% } %> <% if(theme.post.title === "img-top") { %>mdui-card-media-covered-top<% } %>">
      <% if(theme.post.title === "img-bottom" || theme.post.title === "img-top") { %>
        <div class="mdui-card-primary mdui-typo">
          <div class="mdui-card-primary-title"><%=page.title%></div>
          <div class="mdui-card-primary-subtitle">
            <%- list_categories(page.categories, {
              show_count: false,
              style: 'none'
            }) %>
          </div>
          </div>
      <% } %>
    </div>
  </div>

  <% if(theme.post.userview === "center") { %>
    <div class="mdui-card-header">
      <img class="mdui-card-header-avatar" src="<%= theme.userview.avatar %>"/>
      <div class="mdui-card-header-title"><%= config.author %></div>
      <div class="mdui-card-header-subtitle"><%= date(page.date, 'MMM DD, YYYY') %></div>
    </div>
  <% } %>

  <% if(theme.post.title === "card-center") { %>
    <div class="mdui-card-primary mdui-typo">
      <div class="mdui-card-primary-title"><%=page.title%></div>
      <div class="mdui-card-primary-subtitle">
        <%- list_categories(page.categories, {
            show_count: false,
            style: 'none'
            }) %>
        </div>
    </div>
  <% } %>

    <% if(theme.post.userview === "bottom") { %>
      <div class="mdui-card-header">
        <img class="mdui-card-header-avatar" src="<%= theme.userview.avatar %>"/>
        <div class="mdui-card-header-title"><%= config.author %></div>
        <div class="mdui-card-header-subtitle"><%= date(page.date, 'MMM DD, YYYY') %></div>
      </div>
    <% } %>

    <div class="mdui-card-actions">
      <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#share-menu', covered: 'true', align: 'right'}"><i class="mdui-icon material-icons">&#xe80d;</i></button>
        <ul class="mdui-menu" id="share-menu">
          <%- partial('partials/menu/share_menu') %>
        </ul>
      <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#tags-menu', covered: 'true', align: 'right'}"><i class="mdui-icon material-icons">&#xe892;</i></button>
        <ul class="mdui-menu" id="tags-menu">
          <%- partial('partials/menu/tags_menu') %>
        </ul>
        <% if(theme.qrcode == true) { %>
          <%- partial('partials/menu/qr_menu') %>
        <% } %>
    </div>

  <!-- 卡片的内容 -->
  <div class="mdui-card-content mdui-typo">
    <%-page.content%>
  </div>

  <div class="mdui-typo">
    <hr/>
  </div>
  <!-- 卡片的按钮 -->
  <div class="mdui-card-actions">
    <button class="mdui-btn mdui-ripple mdui-ripple-white mdui-color-theme-accent mdui-center"><%= __('post.comment') %></button>
  </div>
</div>
<%-partial('partials/pagination')%>
