<div class="mdui-card card-bottom-fix menu-fix posts-animate">
  <% if (page.thumbnail !== undefined) { %>
    <div class="mdui-card-media post-media" style="background-image: url(<%= page.thumbnail %>);background-color: <%- partial('judge/accent_color_hex') %>"></div>
  <% } %>
  <div class="mdui-card-primary">
    <div class="mdui-row">
      <div class="mdui-col-xs-8">
        <div class="mdui-card-primary-title"><%=page.title%></div>
        <div class="mdui-card-primary-subtitle"><%= date(page.date, 'MMM DD, YYYY') %> - <%= config.author %></div>
      </div>
      <div class="mdui-col-xs-4">
        <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#menu-more'}">
          <i class="mdui-icon material-icons">&#xe5d4;</i>
        </button>
        <%- partial('partials/menu/more') %>
        <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#menu-post-share'}">
          <i class="mdui-icon material-icons">&#xe80d;</i>
        </button>
        <%- partial('partials/menu/post_share') %>
        <% if(theme.qrcode == true) { %>
        <button class="mdui-btn mdui-btn-icon mdui-float-right mdui-hidden-xs-down" mdui-menu="{target: '#menu-qrcode'}">
          <i class="mdui-icon material-icons">&#xe337;</i>
        </button>
        <%- partial('partials/menu/qrcode') %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="mdui-card-content mdui-typo no-padding-top">
    <%-page.content%>
  </div>
  <div class="mdui-card-content no-padding-top">
    <% if (page.tags || page.categories) { %>
      <div class="mdui-typo">
        <hr/>
      </div>
      <div class="mdui-row">
        <% if (page.tags) { %>
        <div class="mdui-col-xs-6">
          <h2><%= theme.translations.tags %></h2>
          <% page.tags.map(function(tag){  %>
            <a href="<%= config.root %>tags/<%= tag.name %>/" class="no-text-decoration">
              <div class="mdui-chip mdui-typo">
                <span class="mdui-chip-icon">
                  <i class="mdui-icon ion-pricetags"></i>
                </span>
                <span class="mdui-chip-title"><%= tag.name %></span>
              </div>
            </a>
          <% }) %>
        </div>
        <% } %>
        <% if (page.categories) { %>
        <div class="mdui-col-xs-6">
          <h2><%= theme.translations.categories %></h2>
          <% page.categories.map(function(category){  %>
            <a href="<%= config.root %>categories/<%= category.name %>/" class="no-text-decoration">
              <div class="mdui-chip mdui-typo">
                <span class="mdui-chip-icon">
                  <i class="mdui-icon material-icons">&#xe169;</i>
                </span>
                <span class="mdui-chip-title"><%= category.name %></span>
              </div>
            </a>
          <% }) %>
        </div>
        <% } %>
    </div>
    <% } %>
    <% if (theme.comment.use === 'disqus' || theme.comment.use === 'custom') { %>
      <div class="mdui-typo">
        <hr/>
      </div>
      <div class="mdui-card-actions" id="show-comment-container">
        <button class="mdui-btn mdui-ripple mdui-ripple-white mdui-color-theme-accent mdui-center" id="show-comment">
          <% if (theme.comment.use === 'custom') { %>
            <%= theme.translations.show_comments_from %><%= theme.comment.provider %>
          <% } else { %>
            <%= theme.translations.show_comments_from %><%= theme.comment.use %>
          <% } %>
        </button>
      </div>
      <div class="mdui-card-actions mdui-hidden" id="hide-comment-container">
        <button class="mdui-btn mdui-ripple mdui-ripple-white mdui-color-theme-accent mdui-center" id="hide-comment">
          <%= theme.translations.hide_comments %>
        </button>
      </div>
    <% } %>
  </div>
</div>
<% if (theme.comment.use === 'disqus' || theme.comment.use === 'custom') { %>
  <%- partial('partials/comment') %>
<% } %>
<% if (!is_page()) { %>
  <%-partial('partials/post_pagination')%>
<% }%>
<%-partial('partials/fab/post')%>
