<div class="mdui-card card-bottom-fix menu-fix posts-animate <% if (theme.style.hoverable === true) { %>mdui-hoverable<% } %>">
  <% if (theme.style.scheme === '1') { %>
    <%-partial('partials/1/card_actions/post')%>
  <% } %>
  <% if (theme.style.scheme !== '1') { %>
    <% if (page.thumbnail || page.thumbnail_p) { %>
      <div class="mdui-card-media post-media" style="background-image: url(<%= page.thumbnail || page.thumbnail_p %>);background-color: <%- partial('judge/accent_color_hex') %>"></div>
    <% } %>
  <% } %>
  <div class="mdui-card-primary">
    <div class="mdui-row">
      <div class="mdui-col-xs-8">
        <div class="mdui-card-primary-title"><%=page.title%></div>
        <div class="mdui-card-primary-subtitle"><%= date(page.date, 'MMM DD, YYYY') %> - <%= config.author %></div>
      </div>
      <div class="mdui-col-xs-4">
        <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#menu-more'}">
          <i class="mdui-icon material-icons">&#xe5d4;</i>
        </button>
        <%- partial('partials/share/menu/more') %>
        <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#menu-post-share'}">
          <i class="mdui-icon material-icons">&#xe80d;</i>
        </button>
        <%- partial('partials/share/menu/post_share') %>
        <% if(theme.qrcode == true) { %>
        <button class="mdui-btn mdui-btn-icon mdui-float-right mdui-hidden-xs-down" mdui-menu="{target: '#menu-qrcode'}">
          <i class="mdui-icon material-icons">&#xe337;</i>
        </button>
        <%- partial('partials/share/menu/qrcode') %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="mdui-card-content mdui-typo no-padding-top" id="post">
    <%-page.content%>
  </div>

  <% if (page.layout === 'gallery') { %>
    <div class="mdui-card-content no-padding-top mdui-valign">
      <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-center" id="post-gallery"><%= page.button_text || theme.translations.gallery_button_text %></button>
    </div>
  <% } %>

  <% if (page.tag !== false || page.category !== false || theme.post.donate !==false) { %>
    <div class="mdui-card-content no-padding-top">
      <% if (theme.post.donate !==false) { %>
        <div class="mdui-valign">
          <button class="mdui-btn mdui-btn-icon mdui-color-red mdui-ripple mdui-center" mdui-tooltip="{content: '<%= theme.translations.donate %>'}" mdui-dialog="{target: '#donateDialog'}"><i class="mdui-icon ion-beer"></i></button>
        </div>
      <% } %>

      <% if (page.tag !== false || page.category !== false) { %>
        <% if (page.tags || page.categories) { %>
            <div class="mdui-typo">
              <hr/>
            </div>
            <div class="mdui-row">
              <% if (page.tag !== false) { %>
                <% if (page.tags) { %>
                  <div class="mdui-col-xs-6">
                    <h2><%= theme.translations.tags %></h2>
                    <% page.tags.map(function(tag){  %>
                      <a href="<%= config.root %>tags/<%= tag.name %>/" class="no-text-decoration">
                        <div class="mdui-chip mdui-typo">
                          <span class="mdui-chip-icon">
                            <i class="mdui-icon ion-pricetags"></i>
                          </span>
                          <span class="mdui-chip-title"><%= tag.name %></span>
                        </div>
                      </a>
                    <% }) %>
                  </div>
                <% } %>
              <% } %>
              <% if (page.category !== false) { %>
                <% if (page.categories) { %>
                <div class="mdui-col-xs-6">
                  <h2><%= theme.translations.categories %></h2>
                  <% page.categories.map(function(category){  %>
                    <a href="<%= config.root %>categories/<%= category.name %>/" class="no-text-decoration">
                      <div class="mdui-chip mdui-typo">
                        <span class="mdui-chip-icon">
                          <i class="mdui-icon material-icons">&#xe169;</i>
                        </span>
                        <span class="mdui-chip-title"><%= category.name %></span>
                      </div>
                    </a>
                  <% }) %>
                </div>
              <% } %>
            <% } %>
          <% } %>
        </div>
      <% } %>
    </div>
  <% } %>
</div>
<% if (page.comment !== false) { %>
  <% if (theme.comment.use === 'disqus' || theme.comment.use === 'custom') { %>
    <%- partial('partials/share/comment') %>
  <% } %>
<% } %>
<% if (!is_page()) { %>
  <%-partial('partials/share/post_pagination')%>
<% }%>
<%-partial('partials/share/fab/post')%>
