<%- cssLsload({path:(config.root + 'css/src/pages/' + page.layout + '.min'),key: page.layout + '_css'}) %>
<div id="galleries" class="mdui-container-fluid animate-post">
  <div class="container">
    <div class="mdui-row">
      <% for (var i in site.data.galleries) { %>
        <div class="mdui-col-xs-6 mdui-col-md-3">
          <a href="<%= site.data.galleries[i].link %>" target="_self" class="no-text-decoration item">
            <div class="mdui-grid-tile card-bottom-fix">
              <img class="bg" src="<%= site.data.galleries[i].bg %>" />
              <div class="mdui-grid-tile-actions no-padding-top" style="width: 100%;">
                <div class="mdui-grid-tile-text" style="width: 100%;">
                  <% if (site.data.galleries[i].logo) { %>
                    <img class="mdui-img-circle logo" src="<%= site.data.galleries[i].logo %>"/>
                  <% } %>
                  <div class="mdui-grid-tile-title"><%= i %></div>
                  <div class="mdui-grid-tile-subtitle mdui-text-color-theme-secondary"><%= site.data.galleries[i].descr %></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
    <div class="footer">
      <div class="mdui-text-center mdui-text-color-theme-text">
        <%= __('search.footer') %>
      </div>
    </div>
  </div>
</div>
