<%- cssLsload({path:(config.root + 'css/src/pages/' + page.layout + '.min'),key: page.layout + '_css'}) %>
<div id="friends-page" class="mdui-container-fluid animate-post">
  <div>
    <% if (page.header) { %>
      <div class="friends-title">
        <%= page.header %>
      </div>
    <% } %>
  </div>
  <% if (site.data.friends) { %>
    <div class="mdui-row">
      <% for (var i in site.data.friends) { %>
        <% if (site.data.friends[i].down !== true) { %>
          <div class="mdui-col-xs-6 mdui-col-md-3">
            <div class="mdui-card friends-container">
              <a href="<%= site.data.friends[i].link %>" target="_blank" class="content">
                <img class="avatar" src="<%= site.data.friends[i].avatar %>" alt="<%= i %>"/>
                <div class="name mdui-text-color-theme-text">
                  <%= i %>
                </div>
                <div class="descr mdui-text-color-theme-text mdui-text-truncate">
                  <%= site.data.friends[i].descr %>
                </div>
                <div class="spacer"></div>
                <div class="mdui-card-actions no-padding">
                  <button class="mdui-btn mdui-ripple mdui-btn-block mdui-text-color-theme-accent"><%= __('friends.visit') %></button>
                </div>
              </a>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
    <%-partial('../_partials/fab/index')%>
  <% } %>
</div>
