<%- cssLsload({path:(config.root + 'css/src/pages/' + page.layout + '.min'),key: page.layout + '_css'}) %>
<%- cssLsload({path:(config.root + 'css/src/lightgallery.min'),key: 'lightgallery_css'}) %>
<div id="gallery" class="animate-post">
  <div class="header">
    <div class="title mdui-text-color-theme-text">
      <%= page.title %>
    </div>
    <div class="descr mdui-text-color-theme-secondary">
      <% if (page.logo) { %>
        <img class="mdui-img-circle logo" src="<%= page.logo %>"/>
      <% } %>
      <% if (page.descr) { %>
        <div class="mdui-valign"><%= page.descr %></div>
      <% } else { %>
        <div class="mdui-valign"><%= date(page.date, 'MMM DD, YYYY') + ' • ' + __('posts.public') %></div>
      <% } %>
    </div>
  </div>
  <div class="container" id="gallery-container">
    <% for (var i in page.photos) { %>
      <a href="<%= page.photos[i].img %>" data-sub-html="<span author><%= config.author %></span><%= ' • ' + i %><% if (page.photos[i].descr) { %><div descr><%= page.photos[i].descr %></div><% } %>">
        <img src="<%= page.photos[i].thumb || page.photos[i].img %>" class="mdui-img-fluid"/>
      </a>
    <% } %>
  </div>
</div>
