<% var color = ['red','pink','purple','deep-purple','indigo','blue','light-blue','cyan','teal','green','light-green','lime','yellow','amber','orange','deep-orange','brown','grey','blue-grey'];
  var num = Math.floor(Math.random() * color.length);
  var randomPic = Math.floor(Math.random() * theme.post.random_pics + 1);
%>
<div id="side-content" class="mdui-color-<%= color[num] %> theme-archive__side-content">
  <div class="mdui-grid-tile" style="overflow: visible;margin-bottom: 0;">
    <div class="theme-archive__side-content__bg">
      <img src="<%= config.root + 'images/random/' + randomPic + '.png' %>" />
    </div>
  </div>
  <div class="theme-archive__side-content__content">
    <img class="mdui-img-circle theme-archive__side-content__avatar" src="<%= url_for(theme.info.avatar) %>"/>
    <div class="theme-archive__side-content__author mdui-text-center">
      <%= config.author %>
    </div>
    <div class="theme-archive__side-content__name">
      <%= page.category || page.tag || page.year %>
    </div>
    <div class="theme-archive__side-content__length">
      <% if (page.posts.length === 1) {
          text = __('archive.post');
        } else {
          text = __('archive.posts');
      } %>
      <%= page.posts.length + text %>
    </div>
  </div>
</div>
<div id="contentLocation"></div>
