<% for (var i in theme.pages.collapse) { %>
  <div class="mdui-collapse-item ">
    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple <% if (theme.pages.collapse[i].bg_color) { %>mdui-color-<%= theme.pages.collapse[i].bg_color %><% } %>">
      <i class="mdui-list-item-icon mdui-icon material-icons <% if (theme.pages.collapse[i].color) { %>mdui-text-color-<%= theme.pages.collapse[i].color %><% } %> <% if(theme.pages.collapse[i].circle === true) { %>mdui-list-item-avatar mdui-color-theme<% } %>">
        <% if(theme.pages.collapse[i].icon) { %>
            <%- theme.pages.collapse[i].icon %>
          <% } %>
        </i>
        <div class="mdui-list-item-content <% if (theme.pages.collapse[i].text_color) { %>mdui-text-color-<%= theme.pages.collapse[i].text_color %><% } %>">
        <% if(theme.pages.collapse[i].fix === true) { %>
          &nbsp;
        <% } %>
        <%= i %>
      </div>
      <i class="mdui-collapse-item-arrow mdui-icon material-icons">
        <% if(theme.pages.collapse[i].arrow) { %>
          <%= theme.pages.collapse[i].arrow %>
        <% } else {%>
          &#xe313;
        <% } %>
      </i>
    </div>
    <div class="mdui-collapse-item-body mdui-list">
      <% for (var x in theme.pages.collapse[i].links){ %>
        <a href="<%= theme.pages.collapse[i].links[x].link %>" title="<%= x %>" class="mdui-list-item mdui-ripple"><%= x %></a>
      <% } %>
    </div>
  </div>
<% } %>
