<div id="index">
  <div class="faviconImg">
    <img class="mdui-img-fluid" src="<%= theme.head.high_res_favicon %>" />
  </div>
  <div id="search">
    <div class="mdui-toolbar mdui-color-theme mdui-shadow-2">
      <div class="mdui-toolbar-spacer mdui-color-theme mdui-ripple" id="search-btn"></div>
      <button class="mdui-btn mdui-ripple mdui-btn-icon" mdui-menu="{target: '#menu-index-more'}">
        <i class="mdui-icon material-icons">&#xe417;</i>
      </button>
      <%- partial('../menu/index_more') %>
      <button class="mdui-btn mdui-btn-icon mdui-ripple"  mdui-menu="{target: '#menu-index-share'}"><i class="mdui-icon material-icons">&#xe80d;</i></button>
      <%- partial('../menu/index_share') %>
    </div>
  </div>
</div>
<div id="posts">
  <%
    var index = 0;
    var posts = page.posts.filter(function(post) {
      if (post.pinned) {
  %>
        <%-partial('../posts', { index: index, post })%>
      <%
        index++;
        return false;
      }
      return true;
    })
  %>
  <% posts.forEach(function(post) {%>
      <%-partial('../posts', { index: index, post })%>
  <%
    index++;
  }); %>
</div>
<%-partial('../pagination/index', {base: url_for(config.root), show: theme.pagination })%>
<%-partial('../fab/index')%>
