<%
var pageTitle = page.title || '';
if (is_home()) pageTitle = __('global.index');
if (is_archive()) pageTitle = __('global.archives');
if (is_tag()) pageTitle = page.tag;
if (is_category()) pageTitle = page.category;
if (is_year()) pageTitle = page.year;
if (page.path === 'search/index.html') pageTitle = __('search.text');
%>
<% if (is_home()) { %>
  <div class="mdui-appbar animate mdui-shadow-0" id="blog-appbar">
    <div class="mdui-toolbar">
      <button class="mdui-btn mdui-ripple mdui-btn-icon" id="appbar-drawer" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon">
          <span></span>
        </i>
      </button>
    </div>
  </div>
<% } else if (!is_home() && !is_year() && !is_month() && !is_category() && !is_tag() && page.path !== 'search/index.html' && page.layout !== 'galleries' && page.layout !== 'gallery') { %>
  <div class="mdui-appbar animate mdui-shadow-0 mdui-appbar-fixed" id="blog-appbar">
    <div class="mdui-toolbar mdui-color-theme">
      <button class="mdui-btn mdui-ripple mdui-btn-icon" id="appbar-drawer" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon">
          <span></span>
        </i>
      </button>
      <span class="mdui-typo-title">
        <%= pageTitle %>
      </span>
      <% if (theme.appbar.search === true) { %>
        <div class="search mdui-hidden-sm-down" onclick="window.open('<%= config.root + 'search' %>', '_self');">
          <div class="icon">
            <i class="mdui-icon material-icons">&#xe8b6;</i>
          </div>
          <div class="text">
            <%= __('search.text') %>
          </div>
        </div>
      <% } %>
      <div class="flex-spacer"></div>
      <% if (theme.appbar.search === true) { %>
        <a href="<%= config.root + 'search' %>" class="mdui-btn mdui-ripple mdui-btn-icon mdui-hidden-md-up search-button" target="_self"><i class="mdui-icon material-icons">&#xe8b6;</i></a>
      <% } %>
      <button class="mdui-btn mdui-ripple mdui-btn-icon" mdui-menu="{target: '#menu-index-more'}">
        <i class="mdui-icon material-icons">&#xe417;</i>
      </button>
      <%- partial('../menu/index_more') %>
    </div>
  </div>
<% } else if ((is_archive() && !is_year()) && page.path !== 'search/index.html') { %>
  <div class="mdui-appbar animate mdui-shadow-0" id="blog-appbar">
    <div class="mdui-toolbar">
      <button class="mdui-btn mdui-ripple mdui-btn-icon mdui-hidden-md-up" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon material-icons">&#xe5d2;</i>
      </button>
      <button class="mdui-btn mdui-ripple mdui-btn-icon mdui-hidden-sm-down" back>
        <i class="mdui-icon material-icons">&#xe5c4;</i>
      </button>
    </div>
  </div>
<% } else if (page.path === 'search/index.html' && theme.appbar.search === true) { %>
  <div class="mdui-appbar animate mdui-shadow-0" id="blog-appbar">
    <div class="mdui-toolbar">
      <div class="search" style="opacity: 1;">
        <div class="icon">
          <i class="mdui-icon material-icons">&#xe8b6;</i>
        </div>
        <div class="text">
          <input type="text" placeholder="<%= __('search.text') %>" id="search-input"/>
        </div>
      </div>
    </div>
  </div>
<% } else if (page.layout === 'galleries' || page.layout === 'gallery') { %>
  <div class="mdui-appbar mdui-shadow-0 mdui-appbar-fixed animate <% if (page.layout === 'gallery') { %>gallery-fix<% } %>" id="blog-appbar" style="background-color: #303030">
    <div class="mdui-toolbar">
      <% if (page.layout === 'gallery') { %>
        <button class="mdui-btn mdui-ripple mdui-btn-icon" back>
          <i class="mdui-icon material-icons">&#xe5c4;</i>
        </button>
      <% } %>
      <a class="logo no-text-decoration mdui-hidden-sm-up" href="<%= config.root %>" target="_self">
        <img class="mdui-img-circle mdui-img-fluid mdui-center" src="<%= theme.head.high_res_favicon %>"/>
      </a>
      <a href="<%= config.root %>" target="_self" class="mdui-typo-headline mdui-hidden-xs">
        <%= theme.appbar.title %>
      </a>
      <span class="appbar-border-line mdui-hidden-xs"></span>
      <span class="mdui-typo-title"><%= page.title %></span>
      <div class="mdui-toolbar-spacer"></div>
      <button class="mdui-btn mdui-ripple mdui-btn-icon" mdui-menu="{target: '#menu-page-share'}">
        <i class="mdui-icon material-icons">&#xe80d;</i>
      </button>
      <%- partial('../partials/menu/page_share') %>
      <% if (page.layout !== 'gallery') { %>
        <span class="appbar-border-line mdui-hidden-xs"></span>
        <div class="appbar-userview mdui-valign" mdui-menu="{target: '#menu-userview', covered: false}">
          <img class="mdui-img-circle appbar-userview-avatar mdui-center" src="<%= theme.style.avatar %>"/>
        </div>
        <%- partial('menu/userview') %>
      <% } %>
    </div>
  </div>
<% } %>
