<div class="theme-post__pagination mdui-color-theme">
  <% if (page.prev){
    var prevTitle = page.prev.title;
    %>
    <div class="theme-post__pagination__prev mdui-ripple mdui-valign">
      <% if (page.prev.link === '') { %>
        <a href="<%= url_for(page.prev.path)%>" class="theme-post__pagination__prev__content mdui-text-left">
        <% } else { %>
          <a href="<%= page.prev.link %>" class="theme-post__pagination__prev__content mdui-text-left" target="_blank">
        <% } %>
        <div>
          <i class="mdui-icon material-icons mdui-text-center">&#xe5cb;</i>
          <span class="mdui-typo-body-2-opacity mdui-text-center"><%= __('posts.pagination.newer') %></span>
        </div>
        <div class="mdui-typo-title mdui-text-truncate">
          <%=prevTitle %>
        </div>
      </a>
    </div>
  <% } else { %>
    <div class="theme-spacer mdui-hidden-xs"></div>
  <% } %>

  <% if (page.next){
    var nextTitle = page.next.title;
    %>
    <div class="theme-post__pagination__next mdui-ripple mdui-valign">
      <% if (page.next.link === '') { %>
        <a href="<%= url_for(page.next.path)%>" class="theme-post__pagination__next__content mdui-text-right">
        <% } else { %>
          <a href="<%= page.next.link %>" class="theme-post__pagination__next__content mdui-text-right"  target="_blank">
        <% } %>
        <div>
          <span class="mdui-typo-body-2-opacity mdui-text-center"><%= __('posts.pagination.older') %></span>
          <i class="mdui-icon material-icons mdui-text-center">&#xe5cc;</i>
        </div>
        <div class="mdui-typo-title mdui-text-truncate">
          <%=nextTitle %>
        </div>
      </a>
    </div>
    <% } else { %>
      <div class="theme-spacer mdui-hidden-xs"></div>
    <% } %>
</div>
