<%
  if (theme.random_pics !== false && theme.random_pics) {
    var randomPic = Math.floor(Math.random() * theme.random_pics + 1);
  }
%>
<%- cssLsload({path:(config.root + 'css/src/plus/index.min'),key:'index_css'}) %>
<div class="mdui-card card-bottom-fix <% if (theme.style.hoverable === true) { %>mdui-hoverable<% } %> mdui-center">
  <div class="posts-title mdui-typo">
    <a href="<%= url_for(post.path) %>" target="_self">
      <% if (post.pinned === true) { %>
        <span style="color: #D50000"><%= '['+ __('posts.pinned') + '] ' %></span>
      <% } %>
      <%= post.title %>
    </a>
  </div>
  <div class="posts-line">
    <div class="mdui-divider"></div>
  </div>
  <div class="posts-content">
    <%- strip_html(truncate(post.content,{length: theme.post.entry_excerpt })) %>
  </div>
  <% if (theme.random_pics !== false && theme.random_pics) { %>
    <div class="mdui-card-media">
      <img src="<%= post.thumbnail || config.root + 'img/random/picHD_' + randomPic + '.png' %>"/>
    </div>
  <% } %>
  <div class="posts-bottom">
    <% if (post.categories && post.categories.length) { %>
      <div class="mdui-chip">
        <span class="mdui-chip-icon"><i class="mdui-icon
        <% if (theme.color.layout !== 'dark') { %>
          mdui-text-color-black-icon
        <% } %>
         material-icons mdui-text-center">&#xe149;</i></span>
      </div>
      <div class="content mdui-typo">
        <% post.categories.map(function(category){  %>
          <a href="<%= config.root %>categories/<%= category.name %>/">
            <span><%= category.name %></span>
          </a>
        <% }) %>
      </div>
    <% } %>
    <% if (post.tags && post.tags.length) { %>
      <div class="mdui-chip">
        <span class="mdui-chip-icon"><i class="mdui-icon
        <% if (theme.color.layout !== 'dark') { %>
          mdui-text-color-black-icon
        <% } %>
         fa fa-tags mdui-text-center"></i></span>
      </div>
      <div class="content mdui-typo">
        <% post.tags.map(function(tag){  %>
          <a href="<%= config.root %>tags/<%= tag.name %>/">
            <span><%= tag.name %></span>
          </a>
        <% }) %>
      </div>
    <% } %>
    <div class="flex-spacer"></div>
    <div class="mdui-typo-caption-opacity mdui-valign">
      <span><%= date(post.date, 'MMM DD, YYYY') %></span>
    </div>
  </div>
</div>
