<div class="mdui-card mdui-center style-1-first-card posts-animate card-bottom-fix">
  <div class="avatar-padding">
    <img class="mdui-img-circle mdui-center style-1-img-circle" src="<%= theme.style.avatar %>"/>
    <div style="padding: 16px;">
      <% if (theme.share_menu !== false) { %>
        <button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple mdui-float-right" mdui-menu="{target: '#menu-first-card-share'}"><i class="mdui-icon material-icons">&#xe80d;</i></button>
        <%- partial('menu/first_card_share') %>
      <% } %>
    </div>
  </div>
  <div class="mdui-card-content mdui-typo mdui-text-center no-padding-top">
    <h4><%= config.title %></h4>
    <div class="mdui-typo-caption-opacity"><%= theme.style.slogan %></div>
  </div>
  <div class="mdui-card-actions style-1-card-actions">
    <button class="mdui-btn mdui-ripple mdui-hidden-xs" mdui-menu="{target: '#menu-first-card-archives', covered: true}"><%= theme.translations.archives %></button>
    <%- partial('menu/first_card_archives') %>
    <button class="mdui-btn mdui-ripple mdui-float-right" mdui-menu="{target: '#menu-first-card-pages'}"><%= theme.translations.pages %></button>
    <%- partial('menu/first_card_pages') %>
  </div>
</div>
