<div class="theme-drawer-header">
  <div class="theme-drawer-header-layer_1">
    <div class="mdui-toolbar theme-drawer-header-layer_1-toolbar-top">
      <button class="mdui-btn mdui-btn-icon" id="drawer-back">
        <i class="mdui-icon material-icons">&#xe5c4;</i>
      </button>
    </div>
    <div class="mdui-toolbar theme-drawer-header-layer_1-toolbar-bottom">
      <span class="theme-drawer-header-layer_1-toolbar-title"><%= config.title %></span>
    </div>
  </div>
  <div class="theme-drawer-header-layer_2" style="background-image: url(<%= theme.info.bg_image %>)">
    <img class="mdui-img-circle theme-drawer-header-layer_2-user_avatar" src="<%= theme.info.avatar %>"/>
    <div class="theme-drawer-header-layer_2-user_info">
      <div class="theme-drawer-header-layer_2-user_author mdui-text-color-white-text">
        <%= config.author %>
      </div>
      <div class="theme-drawer-header-layer_2-user_slogan mdui-text-color-white-secondary">
        <%= theme.info.slogan %>
      </div>
    </div>
  </div>
</div>
