<%
var years = {};
site.posts.sort('date').reverse().forEach(function(post){
  var year = post.date.year()
  if(years[year]===undefined){
    years[year] = [];
  }
  years[year].push(post);
});
%>
  <div class="mdui-shadow-4" >
    <div class="mdui-tab mdui-tab-full-width mdui-color-theme" mdui-tab>
      <a href="#tab-categories" class="mdui-ripple"><%= theme.translations.categories %></a>
      <a href="#tab-tags" class="mdui-ripple"><%= theme.translations.tags %></a>
      <a href="#tab-years" class="mdui-ripple"><%= theme.translations.years %></a>
    </div>
  </div>

  <div id="tab-categories" class="mdui-p-a-2">
    <div class="mdui-card">
      <div class="mdui-list">
        <% site.categories.map(function(category){  %>
          <a href="<%= config.root %>categories/<%= category.name %>/" class="mdui-list-item mdui-ripple menu-badge">
            <%= category.name %>
            <div style="flex-grow:1"></div>
            <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= category.length %></span>
          </a>
        <% }) %>
      </div>
    </div>
  </div>

  <div id="tab-tags" class="mdui-p-a-2">
    <div class="mdui-card">
      <div class="mdui-list">
        <% site.tags.map(function(tag){  %>
            <a href="<%= config.root %>tags/<%= tag.name %>/" class="mdui-list-item mdui-ripple menu-badge">
              <%= tag.name %>
              <div style="flex-grow:1"></div>
              <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= tag.length %></span>
            </a>
        <% }) %>
      </div>
    </div>
  </div>

  <div id="tab-years" class="mdui-p-a-2">
    <div class="mdui-card">
      <div class="mdui-list">
        <% Object.keys(years).reverse().forEach(function(year){  %>
        <a href="<%= config.root %>archives/<%= year %>/" class="mdui-list-item mdui-ripple">
          <%= year %>
        </a>
        <% }) %>
      </div>
    </div>
  </div>
