<%
var years = {};
site.posts.sort('date').reverse().forEach(function(post){
  var year = post.date.year()
  if(years[year]===undefined){
    years[year] = [];
  }
  years[year].push(post);
});
%>
<div id="archives">
  <div class="header">
    <div id="backgroundImg" style="background-image: url('<%= theme.style.bg_img %>')"></div>
    <div class="content">
      <img class="mdui-img-circle avatar" src="<%= theme.style.avatar %>"/>
      <div class="info">
        <div class="name">
          <%= config.author %>
        </div>
        <div class="slogan">
          <%= theme.style.slogan %>
        </div>
      </div>
      <div class="flex-spacer mdui-hidden-sm-down"></div>
      <button class="mdui-btn mdui-ripple mdui-text-color-white-icon mdui-hidden-sm-down">about</button>
      <button class="mdui-btn mdui-btn-icon mdui-ripple mdui-text-color-white-icon mdui-hidden-sm-down"><i class="mdui-icon material-icons">&#xe145;</i></button>
      <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-btn-raised" mdui-dialog="{target: '#contactDialog'}"><%= theme.translations.userview.contact_me %></button>
    </div>
  </div>
</div>
