<%
var pageTitle = page.title || '';
if (is_home()) pageTitle = theme.translations.index;
if (is_archive()) pageTitle = theme.translations.archives;
if (is_tag()) pageTitle = page.tag;
if (is_category()) pageTitle = page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
%>
<div class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
  <div class="mdui-toolbar mdui-color-theme">
    <% if (is_home()) { %>
      <button class="mdui-btn mdui-btn-icon mdui-hidden-sm-up" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon material-icons">&#xe5d2;</i>
      </button>
    <% } else { %>
      <button class="mdui-btn mdui-btn-icon mdui-hidden-xs-down back-button">
        <i class="mdui-icon material-icons">&#xe5c4;</i>
      </button>
      <button class="mdui-btn mdui-btn-icon mdui-hidden-sm-up" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon material-icons">&#xe5d2;</i>
      </button>
    <% } %>
    <% if (theme.appbar.title) { %>
      <a href="<%= config.root %>" class="mdui-typo-headline">
        <%= theme.appbar.title %>
      </a>
    <% } %>
    <span class="mdui-typo-title mdui-hidden-xs"><%= pageTitle %></span>
    <div class="mdui-toolbar-spacer"></div>
    <% if (!is_archive() || is_year()) { %>
      <button class="mdui-btn mdui-ripple mdui-hidden-xs" mdui-menu="{target: '#menu-archives', covered: true}"><%= theme.translations.archives %></button>
      <%- partial('../share/menu/archives') %>
    <% } %>
    <button class="mdui-btn mdui-ripple mdui-hidden-xs" mdui-menu="{target: '#menu-pages', covered: true}"><%= theme.translations.pages %></button>
    <%- partial('../share/menu/pages') %>
    <% if (is_home()) { %>
      <% if (theme.share_menu !== false) { %>
        <button class="mdui-btn mdui-btn-icon mdui-ripple" mdui-menu="{target: '#menu-index-share'}">
          <i class="mdui-icon material-icons">&#xe80d;</i>
        </button>
        <%- partial('../share/menu/index_share') %>
      <% } %>
    <% } %>
  </div>
</div>
