<%
var pageTitle = page.title || '';
if (is_home()) pageTitle = theme.translations.index;
if (is_archive()) pageTitle = theme.translations.archives;
if (is_tag()) pageTitle = page.tag;
if (is_category()) pageTitle = page.category;
if (is_year()) pageTitle = page.year;
if (page.path === 'search/index.html') pageTitle = theme.translations.search.text;
%>
<% if ((!is_archive() || is_year()) && page.path !== 'search/index.html' ) { %>
  <div class="mdui-appbar mdui-appbar-fixed" id="blog-appbar">
    <div class="mdui-toolbar mdui-color-theme">
      <% if (is_home() || is_year() || is_month() || is_category() || is_tag()) { %>
        <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#drawer'}">
          <i class="mdui-icon material-icons">&#xe5d2;</i>
        </button>
      <% } else { %>
        <button class="mdui-btn mdui-btn-icon back-button">
          <i class="mdui-icon material-icons">&#xe5c4;</i>
        </button>
      <% } %>
      <% if (theme.appbar.title) { %>
        <a href="<%= config.root %>" class="mdui-typo-headline">
          <%= theme.appbar.title %>
        </a>
        <span class="appbar-border-line mdui-hidden-xs"></span>
      <% } %>
      <span class="mdui-typo-title <% if (!is_category() && !is_tag() && !is_year()) { %>mdui-hidden-xs<% } %> <% if (is_category() || is_tag() || is_year() || is_post()) { %>toTop<% } %>">
        <%= pageTitle %>
      </span>
      <div class="search mdui-hidden-sm-down" onclick="window.open('<%= config.root + 'search' %>', '_self');">
        <div class="icon">
          <i class="mdui-icon material-icons">&#xe8b6;</i>
        </div>
        <div class="text">
          <%= theme.translations.search.text %>
        </div>
      </div>
      <div class="mdui-toolbar-spacer <% if (is_category() || is_tag() || is_year() || is_post()) { %>toTop<% } %>"></div>
      <a href="<%= config.root + 'search' %>" class="mdui-btn mdui-btn-icon mdui-hidden-md-up search-button" target="_self"><i class="mdui-icon material-icons">&#xe8b6;</i></a>
      <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#menu-index-more'}">
        <i class="mdui-icon material-icons">&#xe417;</i>
      </button>
      <%- partial('menu/index_more') %>
      <div class="appbar-userview mdui-valign" mdui-menu="{target: '#menu-userview', covered: false}">
        <img class="mdui-img-circle appbar-userview-avatar mdui-center" src="<%= theme.style.avatar %>"/>
      </div>
      <%- partial('menu/userview') %>
      <% if (is_category() || is_tag() || is_year()) { %>
        <button class="mdui-btn mdui-btn-icon style-fix"><i class="mdui-icon material-icons">&#xe80d;</i></button>
      <% } %>
    </div>
  </div>
<% } else if ((is_archive() && !is_year()) && page.path !== 'search/index.html') { %>
  <div class="mdui-appbar mdui-appbar-fixed" id="blog-appbar">
    <div class="mdui-toolbar mdui-color-theme">
      <button class="mdui-btn mdui-btn-icon mdui-hidden-md-up" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon material-icons">&#xe5d2;</i>
      </button>
      <button class="mdui-btn mdui-btn-icon back-button mdui-hidden-sm-down">
        <i class="mdui-icon material-icons">&#xe5c4;</i>
      </button>
      <% if (theme.appbar.title) { %>
        <a href="<%= config.root %>" class="mdui-typo-headline mdui-hidden-sm-down">
          <%= theme.appbar.title %>
        </a>
        <span class="appbar-border-line mdui-hidden-sm-down"></span>
      <% } %>
      <span class="mdui-typo-title"><%= config.author %></span>
      <div class="search mdui-hidden-sm-down" onclick="window.open('<%= config.root + 'search' %>', '_self');">
        <div class="icon">
          <i class="mdui-icon material-icons">&#xe8b6;</i>
        </div>
        <div class="text">
          <%= theme.translations.search.text %>
        </div>
      </div>
      <div class="mdui-toolbar-spacer"></div>
      <% if (theme.about_me === true) { %>
        <button class="mdui-btn mdui-btn-dense mdui-ripple mdui-hidden-md-up" mdui-dialog="{target: '#aboutmeDialog'}"><%= theme.translations.archive.about %></button>
      <% } %>
      <div class="appbar-userview mdui-valign mdui-hidden-sm-down" mdui-menu="{target: '#menu-userview', covered: false}">
        <img class="mdui-img-circle appbar-userview-avatar mdui-center" src="<%= theme.style.avatar %>"/>
      </div>
      <%- partial('menu/userview') %>
      <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#menu-index-more'}">
        <i class="mdui-icon material-icons">&#xe417;</i>
      </button>
      <%- partial('menu/index_more') %>
    </div>
  </div>
<% } else if (page.path === 'search/index.html') { %>
  <div class="mdui-appbar mdui-appbar-fixed" id="blog-appbar">
    <div class="mdui-toolbar mdui-color-theme">
      <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon material-icons">&#xe5d2;</i>
      </button>
      <% if (theme.appbar.title) { %>
        <a href="<%= config.root %>" class="mdui-typo-headline mdui-hidden-sm-down">
          <%= theme.appbar.title %>
        </a>
        <span class="appbar-border-line mdui-hidden-sm-down"></span>
      <% } %>
      <span class="mdui-typo-title mdui-hidden-sm-down"><%= theme.translations.search.explore %></span>
      <div class="search" style="opacity: 1;">
        <div class="icon">
          <i class="mdui-icon material-icons">&#xe8b6;</i>
        </div>
        <div class="text">
          <input type="text" placeholder="<%= theme.translations.search.text %>" id="search-input"/>
        </div>
      </div>
      <div class="appbar-userview mdui-valign mdui-hidden-xs" mdui-menu="{target: '#menu-userview', covered: false}">
        <img class="mdui-img-circle appbar-userview-avatar mdui-center" src="<%= theme.style.avatar %>"/>
      </div>
      <%- partial('menu/userview') %>
    </div>
  </div>
<% } %>
