<%
var pageTitle = page.title || '';
if (is_home()) pageTitle = theme.translations.index;
if (is_archive()) pageTitle = theme.translations.archives;
if (is_tag()) pageTitle = page.tag;
if (is_category()) pageTitle = page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
%>
<div class="mdui-appbar mdui-appbar-fixed">
  <div class="mdui-toolbar mdui-color-theme">
    <% if (is_home() || is_archive() || is_year() || is_month() || is_category() || is_tag()) { %>
      <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#drawer'}">
        <i class="mdui-icon material-icons">&#xe5d2;</i>
      </button>
    <% } else { %>
      <button class="mdui-btn mdui-btn-icon back-button">
        <i class="mdui-icon material-icons">&#xe5c4;</i>
      </button>
    <% } %>
    <% if (theme.appbar.title) { %>
      <a href="<%= config.root %>" class="mdui-typo-headline">
        <%= theme.appbar.title %>
      </a>
    <% } %>
    <span class="appbar-border-line mdui-hidden-xs"></span>
    <span class="mdui-typo-title mdui-hidden-xs"><%= pageTitle %></span>
    <div class="mdui-toolbar-spacer"></div>
    <div class="appbar-userview mdui-valign" mdui-menu="{target: '#menu-userview', covered: false}">
      <img class="mdui-img-circle appbar-userview-avatar mdui-center" src="<%= theme.style.avatar %>"/>
    </div>
    <%- partial('menu/userview') %>
  </div>
</div>
