<div class="mdui-drawer mdui-hidden-sm-up" id="drawer">
  <% if (!is_archive()) { %>
  <div class="mdui-list">
    <a href="<%= config.root %>archives">
      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xe149;</i>
        <div class="mdui-list-item-content">
          <%= theme.translations.archives %>
          <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= site.posts.length %></span>
        </div>
      </li>
    </a>
  </div>
  <div class="mdui-list no-padding-top" mdui-collapse="{accordion: true}" mdui-collapse>
    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xe86e;</i>
        <div class="mdui-list-item-content"><%= theme.translations.categories %></div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe5cf;</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list">
        <% site.categories.map(function(category){  %>
          <a href="<%= config.root %>categories/<%= category.name %>/" class="mdui-list-item mdui-ripple" style="display: flex">
            <%= category.name %>
            <div style="flex-grow: 1;"></div>
            <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= category.length %></span>
          </a>
        <% }) %>
      </div>
    </div>
    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon ion-pricetags"></i>
        <div class="mdui-list-item-content"><%= theme.translations.tags %></div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe5cf;</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list">
        <% site.tags.map(function(tag){  %>
          <a href="<%= config.root %>tags/<%= tag.name %>/" class="mdui-list-item mdui-ripple" style="display: flex">
            <%= tag.name %>
            <div style="flex-grow: 1;"></div>
            <span class="badge new mdui-color-theme-accent" data-badge-caption=""><%= tag.length %></span>
          </a>
        <% }) %>
      </div>
    </div>
  </div>
  <% } %>
  <div class="mdui-list no-padding-top">
    <% for (var i in theme.pages) { %>
      <a href="<%= theme.pages[i].link %>">
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons"><%- theme.pages[i].icon %></i>
          <div class="mdui-list-item-content"><%= i %></div>
        </li>
      </a>
    <% } %>
  </div>
</div>
