<!-- Import JS -->
<% if(theme.vendors.outdatedbrowser_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.outdatedbrowser_min_js %>"></script>
<% } else { %>
  <%- js("js/outdatedbrowser.min") %>
<% } %>
<script>
//event listener: DOM ready
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
      window.onload = func;
  } else {
      window.onload = function() {
          if (oldonload) {
              oldonload();
          }
          func();
      }
  }
}
//call plugin function after DOM ready
addLoadEvent(function(){
  outdatedBrowser({
      bgColor: '#f25648',
      color: '#ffffff',
      lowerThan: 'transform',
      languagePath: ''
  })
});
</script>

<% if(theme.vendors.js_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.js_min_js %>"></script>
<% } else { %>
  <%- js("js/js") %>
<% } %>

<% if (theme.service_woker === true || theme.service_woker === 'pwa') { %>
  <script>
    if ('serviceWorker' in navigator) {
     navigator.serviceWorker.register('/sw.js');
    }
  </script>
<% } %>

<% if (theme.busuanzi !== false) { %>
  <script src="<%= theme.busuanzi.busuanzi_pure_mini_js %>"></script>
<% } %>
<% if (is_home() || is_archive() || is_year() || is_month() || is_category() || is_tag()) { %>
  <script type="text/javascript">
    var fab_index = new mdui.Headroom('#fab_index', {
      pinnedClass: 'fab',
      unpinnedClass: 'mdui-fab-hide'
    });
    <% if (!is_archive()) { %>
      (function() {
        var items = document.querySelectorAll("#content-list .content-item");
        var list = document.querySelector(".posts-container");
        var columns = [document.createElement("div"), document.createElement("div"), document.createElement("div")];
        var level = 4;
        var sm = 1;
        var column1Width = 600;
        var column2Width = 1024;
        list.innerHTML = "";
        function getColumnNums() {
          if (document.body.clientWidth <= column1Width) {
            return 1
          }
          if (document.body.clientWidth <= column2Width) {
            return 2
          }
          return 3
        }
        function updateList() {
          var ColumnNums = getColumnNums();
          if (level == ColumnNums) return;
          level = ColumnNums;
          list.setAttribute("class", "column-" + ColumnNums + " posts-container")
          Array.prototype.forEach.call(items, function(value, index) {
            var to = index % ColumnNums;
            columns[to].appendChild(value);
          })
          columns.forEach(function(value) {
            list.appendChild(value)
          })
        }
        window.addEventListener("resize", updateList);
        updateList();
      })()
    <% } %>
  </script>
<% } %>
<% if (!is_home()) { %>
  <script type="text/javascript">
  $(document).on('click', '.back-button', function() {
      window.history.back();
  });
  </script>
<% } %>
<% if (!is_post() && theme.translations.snackbar && page.total > 1) { %>
  <script type="text/javascript">
    $(document).on('click', 'a[name="snackbar"]', function () {
      mdui.snackbar({
        message: '<%= theme.translations.snackbar %>',
        timeout: 1000
      });
    });
  </script>
<% } %>
<% if (!is_home() && !is_archive() && !is_year() && !is_month() && !is_category() && !is_tag()) { %>
  <script type="text/javascript">
    $(document).ready(function(){
      if($(".toc").length == 0)
      {
        $("#button-toc").addClass("mdui-hidden");
        $("#post").addClass("no-toc")
      };
    });
    window.addEventListener("load",function(){
        function doWork(){
            listens.forEach(function(value,index){
                value[1]();
                $(value[0]).removeClass("mdui-list-item-active");
            })
            $((listens[listens.reduce(function(r,v,index){
                if(v[2] == true){
                    return index;
                }
                else return r;
            },undefined)] || [])[0]).addClass("mdui-list-item-active");

        }
        var listens = [];
        var links = document.querySelectorAll(".post-toc-link");
        Array.prototype.forEach.call(links,function(value,index){
            var id = (value.getAttribute("href") || "#").slice(1);
            var element = document.getElementById(id);
            listens.push([value,function(){
                var readed = false;
                if ($(element).offset().top <= $("body").scrollTop() + $(element).height() + 64) {
                    readed = true;
                } else {
                    readed = false;
                }
                listens[index][2] = readed;
            },false])
        })
        doWork();
        window.addEventListener("scroll",doWork)
    })
  </script>

  <script>
  $('#post-content img').click(function() {
    var img_src = $(this).attr('src');
    var img_alt = $(this).attr('alt');
    $(this).lightGallery({
      dynamic: true,
      dynamicEl: [{
        "src": img_src,
        'subHtml': "<p>" + img_alt + "</p>"
        }],
    });
  })
  </script>

  <!-- MathJax Load-->
  <% if (page.mathjax) { %>
    <%- partial('../widget/mathjax') %>
  <% } %>
<% } %>

<!-- Custom javascript -->
<%-partial('../custom/custom_js')%>
