<!-- Import JS -->
<% if(theme.vendors.outdatedbrowser_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.outdatedbrowser_min_js %>?version=v20170507"></script>
<% } else { %>
  <%- js("js/outdatedbrowser.min") %>
<% } %>

<script>
//event listener: DOM ready
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
      window.onload = func;
  } else {
      window.onload = function() {
          if (oldonload) {
              oldonload();
          }
          func();
      }
  }
}
//call plugin function after DOM ready
addLoadEvent(function(){
  outdatedBrowser({
      bgColor: '#f25648',
      color: '#ffffff',
      lowerThan: 'transform',
      languagePath: ''
  })
});
</script>

<% if(theme.vendors.js_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.js_min_js %>?version=v20170507"></script>
<% } else { %>
  <%- js("js/js-v20170507.min") %>
<% } %>

<% if (theme.service_woker === true || theme.service_woker === 'pwa') { %>
  <script>
    if ('serviceWorker' in navigator) {
     navigator.serviceWorker.register('<%= config.root + 'sw.js' %>');
    }
  </script>
<% } %>

<% if (is_archive()) { %>
  <script>
    window.addEventListener("scroll", function(){
       document.querySelector('#archives .bg .mdui-img-fluid.mdui-img-rounded')
        .style.transform = 'translateY(' + document.body.scrollTop * 0.4 + 'px)';
    })
  </script>
<% } %>

<% if (theme.busuanzi !== false) { %>
  <script src="<%= theme.busuanzi.busuanzi_pure_mini_js %>"></script>
<% } %>
<% if (is_home() || is_archive() || is_year() || is_month() || is_category() || is_tag() || page.path === 'search/index.html') { %>
  <script type="text/javascript">
    <% if (!is_archive() || is_year()) { %>
      (function() {
        var items = document.querySelectorAll("div#content-list .content-item");
        var list = document.querySelector("div.posts-container");
        var columns = [document.createElement("div"), document.createElement("div"), document.createElement("div")];
        var level = 4;
        var sm = 1;
        var column1Width = 1024;
        var column2Width = 1400;
        list.innerHTML = "";
        function cleanUpdate() {
          items = document.querySelectorAll("div#content-list .content-item");
          list.innerHTML = '';
          columns = [document.createElement("div"), document.createElement("div"), document.createElement("div")];
          level = 4;
          updateList();
        }
        window.postListCleanUpdate = cleanUpdate;
        function getColumnNums() {
          if (document.body.clientWidth <= column1Width) {
            return 1
          }
          if (document.body.clientWidth <= column2Width) {
            return 2
          }
          return 3
        }
        function updateList() {
          var ColumnNums = getColumnNums();
          if (level == ColumnNums) return;
          level = ColumnNums;
          list.setAttribute("class", "column-" + ColumnNums + " posts-container")
          Array.prototype.forEach.call(items, function(value, index) {
            var to = index % ColumnNums;
            columns[to].appendChild(value);
          })
          columns.forEach(function(value) {
            list.appendChild(value)
          })
        }
        window.addEventListener("resize", updateList);
        updateList();
      })()
    <% } %>
  </script>
<% } %>
<% if (!is_post() && page.total > 1) { %>
  <script type="text/javascript">
    $$(document).on('click', 'a[name="snackbar"]', function () {
      mdui.snackbar({
        message: '<%= __('global.snackbar') %>',
        timeout: 1000
      });
    });
  </script>
<% } %>
<% if (!is_home() && !is_archive() && !is_year() && !is_month() && !is_category() && !is_tag() && page.layout !== 'galleries' && page.layout !== 'gallery') { %>
  <script type="text/javascript">
    window.addEventListener("load",function(){
        function doWork(){
            listens.forEach(function(value,index){
                value[1]();
                value[0].classList.remove("mdui-list-item-active");
            })
            let actionToc = (listens[listens.reduce(function(r,v,index){
                if(v[2] == true){
                    return index;
                }
                else return r;
            },undefined)] || [])[0] || listens[0][0];
            actionToc.classList.add("mdui-list-item-active");
            showToc(actionToc);
        }
        function showToc(toc) {
            let offsetTop = toc.getClientRects()[0].top - cardToc.getClientRects()[0].top - 40;
            let offsetBottom = toc.getClientRects()[0].bottom - cardToc.getClientRects()[0].bottom + 40;
            let offset = 0;
            if (offsetTop < 0)offset = offsetTop;
            if (offsetBottom > 0)offset = offsetBottom;
            cardToc.scrollTop += offset;
        }
        var listens = [];
        var cardToc = document.querySelector('#card-toc');
        var links = document.querySelectorAll("a.post-toc-link");
        Array.prototype.forEach.call(links,function(value,index){
            var id = (value.getAttribute("href") || "#").slice(1);
            var element = document.getElementById(id);
            listens.push([value,function(){
                var readed = false;
                var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
                if ($$(element).offset().top <= scrollTop + $$(element).height() + 64) {
                    readed = true;
                } else {
                    readed = false;
                }
                listens[index][2] = readed;
            },false])
        })
        doWork();
        window.addEventListener("scroll",doWork)
    });
    $$('#post-content img').on('click', function () {
      $$('#drawer').css('z-index', '1000');
      var img_src = $$(this).attr('src');
      var img_alt = $$(this).attr('alt');
      lightGallery(this, {
        dynamic: true,
        counter: false,
        dynamicEl: [{
          "src": img_src,
          'subHtml': "<span author><%= config.author %></span><%= ' • ' + __('posts.public') %><div descr>" + img_alt + "</div>"
          }],
      });
    });
  </script>

  <% if (page.mathjax === true) { %>
    <!-- MathJax Load-->
    <%- partial('../widget/mathjax') %>
  <% } %>
<% } %>

<% if (is_category() || is_tag() || is_year()) { %>
  <script>
    var postsCount = $$('div.posts-container div').children('div.content-item').length;
    if (postsCount === 1) {
      var postsText = '<%= __('archive.post') %>';
    } else if (postsCount > 1) {
      var postsText = '<%= __('archive.posts') %>';
    }
    $$('div#postsCount').text(postsCount + ' ' + postsText);
    var content_flag = false;
    $$(window).on('scroll', function() {
      var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
      var contentLocation = $$('div#contentLocation').offset().top - scrollTop - 56;
      if (!content_flag && contentLocation < 0 && window.innerWidth < 860) {
        $$('div#blog-appbar').addClass('style-fix');
        $$('body').removeClass('style-fix');
        content_flag = true;
      } else if (content_flag && contentLocation >= 0 && window.innerWidth < 860) {
        $$('div#blog-appbar').removeClass('style-fix');
        $$('body').addClass('style-fix');
        content_flag = false;
      };
    });
    function styleChanging() {
      var hide = new mdui.Headroom('div#blog-appbar');
      var windowWidth = window.innerWidth, toLeftWidth = 860;
      if (windowWidth < toLeftWidth) {
        hide.enable();
      } else {
        hide.disable();
      }
    };
    styleChanging();
  </script>
<% } %>

<% if (page.path === 'search/index.html' && theme.appbar.search === true) { %>
  <script>
    $$('div.search').on('click', function () {
      smoothScroll.animateScroll( 0 );
    });
  </script>
  <%-partial('widget/search_local_js')%>
  <script>
    $$(document).ready(function () {
      var path = '<%= config.root + config.search.path %>';
      searchFunc(path, 'search-input');
    });
  </script>
<% } %>

<% if (page.layout === 'galleries') { %>
  <script>
    (function() {
      var galleryFlag = false;
      $$(window).on('scroll', function() {
        var bodyTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        var pageLocation = $$('div#top').offset().top - bodyTop;
        if (!galleryFlag && pageLocation < 0) {
          $$('div#blog-appbar').removeClass('mdui-shadow-0');
          galleryFlag = true;
        } else if (galleryFlag && pageLocation >= 0) {
          $$('div#blog-appbar').addClass('mdui-shadow-0');
          galleryFlag = false;
        }
      });
    })();
  </script>
<% } %>

<% if (page.layout === 'gallery') { %>
  <script>
    (function() {
      var galleryFlag = false;
      $$(window).on('scroll', function() {
        var bodyTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        var pageLocation = $$('div#top').offset().top - bodyTop;
        if (!galleryFlag && pageLocation < 0) {
          $$('div#blog-appbar').removeClass('mdui-shadow-0 gallery-fix');
          galleryFlag = true;
        } else if (galleryFlag && pageLocation >= 0) {
          $$('div#blog-appbar').addClass('mdui-shadow-0 gallery-fix');
          galleryFlag = false;
        }
      });
    })();
    lightGallery(document.getElementById('gallery-container'), {
        thumbnail:true,
        animateThumb: true,
        showThumbByDefault: false
    });
  </script>
<% } %>

<!-- Custom javascript -->
<%-partial('../custom/custom_js')%>
