<!-- Import JS -->
<% if(theme.vendors.outdatedbrowser_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.outdatedbrowser_min_js %>?version=v20170507"></script>
<% } else { %>
  <%- js("js/outdatedbrowser.min") %>
<% } %>

<script>
//event listener: DOM ready
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
      window.onload = func;
  } else {
      window.onload = function() {
          if (oldonload) {
              oldonload();
          }
          func();
      }
  }
}
//call plugin function after DOM ready
addLoadEvent(function(){
  outdatedBrowser({
      bgColor: '#f25648',
      color: '#ffffff',
      lowerThan: 'transform',
      languagePath: ''
  })
});
</script>

<% if(theme.vendors.js_min_js) { %>
  <script type="text/javascript" src="<%= theme.vendors.js_min_js %>?version=v20170509"></script>
<% } else { %>
  <%- js("js/js-v20170509.min") %>
<% } %>

<% if (theme.service_woker === true || theme.service_woker === 'pwa') { %>
  <script>
    if ('serviceWorker' in navigator) {
     navigator.serviceWorker.register('<%= config.root + 'sw.js' %>');
    }
  </script>
<% } %>

<% if (is_archive()) { %>
  <script>
    window.addEventListener("scroll", function(){
       document.querySelector('#archives .bg .mdui-img-fluid.mdui-img-rounded')
        .style.transform = 'translateY(' + document.body.scrollTop * 0.4 + 'px)';
    })
  </script>
<% } %>

<% if (theme.busuanzi !== false) { %>
  <script src="<%= theme.busuanzi.busuanzi_pure_mini_js %>"></script>
<% } %>
<% if (is_home() || is_archive() || is_year() || is_month() || is_category() || is_tag() || page.path === 'search/index.html') { %>
  <script type="text/javascript">
    <% if (!is_archive() || is_year()) { %>
      (function() {
        var items = document.querySelectorAll("div#content-list .content-item");
        var list = document.querySelector("div.posts-container");
        var columns = [document.createElement("div"), document.createElement("div"), document.createElement("div")];
        var level = 4;
        var sm = 1;
        var column1Width = 1024;
        var column2Width = 1400;
        list.innerHTML = "";
        function cleanUpdate() {
          items = document.querySelectorAll("div#content-list .content-item");
          list.innerHTML = '';
          columns = [document.createElement("div"), document.createElement("div"), document.createElement("div")];
          level = 4;
          updateList();
        }
        window.postListCleanUpdate = cleanUpdate;
        function getColumnNums() {
          if (document.body.clientWidth <= column1Width) {
            return 1
          }
          if (document.body.clientWidth <= column2Width) {
            return 2
          }
          return 3
        }
        function updateList() {
          var ColumnNums = getColumnNums();
          if (level == ColumnNums) return;
          level = ColumnNums;
          list.setAttribute("class", "column-" + ColumnNums + " posts-container")
          Array.prototype.forEach.call(items, function(value, index) {
            var to = index % ColumnNums;
            columns[to].appendChild(value);
          })
          columns.forEach(function(value) {
            list.appendChild(value)
          })
        }
        window.addEventListener("resize", updateList);
        updateList();
      })()
    <% } %>
  </script>
<% } %>
<% if (!is_post() && page.total > 1) { %>
  <script type="text/javascript">
    $$(document).on('click', 'a[name="snackbar"]', function () {
      mdui.snackbar({
        message: '<%= __('global.snackbar') %>',
        timeout: 1000
      });
    });
  </script>
<% } %>
<% if (!is_home() && !is_archive() && !is_year() && !is_month() && !is_category() && !is_tag() && page.layout !== 'galleries' && page.layout !== 'gallery') { %>
  <script type="text/javascript">
    window.addEventListener("load",function(){
        var timer;
        function doWork(){
            listens.forEach(function(value,index){
                value[1]();
                value[0].classList.remove("mdui-list-item-active");
            })
            let actionToc = (listens[listens.reduce(function(r,v,index){
                if(v[2] == true){
                    return index;
                }
                else return r;
            },undefined)] || [])[0] || listens[0][0];
            actionToc.classList.add("mdui-list-item-active");
            showToc(actionToc);
        }
        function showToc(toc) {
            let offsetTop = toc.getClientRects()[0].top - cardToc.getClientRects()[0].top - 40;
            let offsetBottom = toc.getClientRects()[0].bottom - cardToc.getClientRects()[0].bottom + 40;
            let offset = 0;
            if (offsetTop < 0)offset = offsetTop;
            if (offsetBottom > 0)offset = offsetBottom;
            var targetTop = Math.max(0,Math.min(cardToc.scrollTop + offset,toclist.offsetHeight - cardToc.offsetHeight));
            clearInterval(timer);
            timer = setInterval(function(){
              var now	= cardToc.scrollTop;
              var speed = (targetTop - now) / 10;
              speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
              if(Math.abs(now - targetTop) < 1){
                clearInterval(timer);
              }
              cardToc.scrollTop = now + speed;
          }, 30);
        }
        var listens = [];
        var cardToc = document.querySelector('#card-toc');
        var links = document.querySelectorAll("a.post-toc-link");
        var toclist = document.querySelector("#card-toc > ul");
        Array.prototype.forEach.call(links,function(value,index){
            var id = (value.getAttribute("href") || "#").slice(1);
            var element = document.getElementById(id);
            listens.push([value,function(){
                var readed = false;
                var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
                if ($$(element).offset().top <= scrollTop + $$(element).height() + 64) {
                    readed = true;
                } else {
                    readed = false;
                }
                listens[index][2] = readed;
            },false])
        })
        doWork();
        window.addEventListener("scroll",doWork)
    });
    $$('#post-content img').on('click', function () {
      $$('#drawer').css('z-index', '1000');
      var img_src = $$(this).attr('src');
      var img_alt = $$(this).attr('alt');
      lightGallery(this, {
        dynamic: true,
        counter: false,
        dynamicEl: [{
          "src": img_src,
          'subHtml': "<span author><%= config.author %></span><%= ' • ' + __('posts.public') %><div descr>" + img_alt + "</div>"
          }],
      });
    });
    (function(){
      function a_OR_img(url) {
        return new Promise(function (resolve,reject) {
          imageObject = new Image();
          imageObject.src = url;
          imageObject.addEventListener("load",resolve.bind(this,imageObject));
          imageObject.addEventListener("error",reject.bind(this,url));
        }).then(function(res) {
          return res;
        }).catch(function(res) {
          var dom = document.createElement('a')
          dom.href = res
          return dom;
        })
      }
      window.a_OR_img = a_OR_img;
    })();
  </script>

  <% if (page.mathjax === true) { %>
    <!-- MathJax Load-->
    <%- partial('../widget/mathjax') %>
  <% } %>
<% } %>

<% if (is_category() || is_tag() || is_year()) { %>
  <script>
    var postsCount = $$('div.posts-container div').children('div.content-item').length;
    if (postsCount === 1) {
      var postsText = '<%= __('archive.post') %>';
    } else if (postsCount > 1) {
      var postsText = '<%= __('archive.posts') %>';
    }
    $$('div#postsCount').text(postsCount + ' ' + postsText);
    var content_flag = false;
    $$(window).on('scroll', function() {
      var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
      var contentLocation = $$('div#contentLocation').offset().top - scrollTop - 56;
      if (!content_flag && contentLocation < 0 && window.innerWidth < 860) {
        $$('div#blog-appbar').addClass('style-fix');
        $$('body').removeClass('style-fix');
        content_flag = true;
      } else if (content_flag && contentLocation >= 0 && window.innerWidth < 860) {
        $$('div#blog-appbar').removeClass('style-fix');
        $$('body').addClass('style-fix');
        content_flag = false;
      };
    });
    function styleChanging() {
      var hide = new mdui.Headroom('div#blog-appbar');
      var windowWidth = window.innerWidth, toLeftWidth = 860;
      if (windowWidth < toLeftWidth) {
        hide.enable();
      } else {
        hide.disable();
      }
    };
    styleChanging();
  </script>
<% } %>

<% if (page.path === 'search/index.html' && theme.appbar.search === true) { %>
  <script>
    $$('div.search').on('click', function () {
      smoothScroll.animateScroll( 0 );
    });
  </script>
  <%-partial('widget/search_local_js')%>
  <script>
    $$(document).ready(function () {
      var path = '<%= config.root + config.search.path %>';
      searchFunc(path, 'search-input');
    });
  </script>
<% } %>

<% if (page.layout === 'galleries') { %>
  <script>
    (function() {
      var galleryFlag = false;
      $$(window).on('scroll', function() {
        var bodyTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        var pageLocation = $$('div#top').offset().top - bodyTop;
        if (!galleryFlag && pageLocation < 0) {
          $$('div#blog-appbar').removeClass('mdui-shadow-0');
          galleryFlag = true;
        } else if (galleryFlag && pageLocation >= 0) {
          $$('div#blog-appbar').addClass('mdui-shadow-0');
          galleryFlag = false;
        }
      });
    })();
  </script>
<% } %>

<% if (page.layout === 'gallery') { %>
  <% if (page.lg.vimeo_video === true) { %>
    <script type="text/javascript" src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
  <% } %>
  <script>
    (function() {
      var galleryFlag = false;
      $$(window).on('scroll', function() {
        var bodyTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        var pageLocation = $$('div#top').offset().top - bodyTop;
        if (!galleryFlag && pageLocation < 0) {
          $$('div#blog-appbar').removeClass('mdui-shadow-0 gallery-fix');
          galleryFlag = true;
        } else if (galleryFlag && pageLocation >= 0) {
          $$('div#blog-appbar').addClass('mdui-shadow-0 gallery-fix');
          galleryFlag = false;
        }
      });
    })();
    lightGallery(document.getElementById('gallery-container'), {
      <%
        // gallery plugin setting
      %>
      <% if (page.lg.mode) { %>
        mode: '<%= page.lg.mode %>',
      <% } %>
      <% if (page.lg.cssEasing) { %>
        cssEasing: '<%= page.lg.cssEasing %>',
      <% } %>
      <% if (page.lg.speed) { %>
        speed: <%= page.lg.speed %>,
      <% } %>
      <% if (page.lg.height) { %>
        height: '<%= page.lg.height %>',
      <% } %>
      <% if (page.lg.width) { %>
        width: '<%= page.lg.width %>',
      <% } %>
      <% if (page.lg.addClass) { %>
        addClass: '<%= page.lg.addClass %>',
      <% } %>
      <% if (page.lg.startClass) { %>
        startClass: '<%= page.lg.startClass %>',
      <% } %>
      <% if (page.lg.backdropDuration) { %>
        backdropDuration: <%= page.lg.backdropDuration %>,
      <% } %>
      <% if (page.lg.hideBarsDelay) { %>
        hideBarsDelay: <%= page.lg.hideBarsDelay %>,
      <% } %>
      <% if (page.lg.useLeft === true) { %>
        useLeft: true,
      <% } %>
      <% if (page.lg.closable === false) { %>
        closable: false,
      <% } %>
      <% if (page.lg.loop === false) { %>
        loop: false,
      <% } %>
      <% if (page.lg.escKey === false) { %>
        escKey: false,
      <% } %>
      <% if (page.lg.keyPress === false) { %>
        keyPress: false,
      <% } %>
      <% if (page.lg.controls === false) { %>
        controls: false,
      <% } %>
      <% if (page.lg.slideEndAnimatoin === false) { %>
        slideEndAnimatoin: false,
      <% } %>
      <% if (page.lg.hideControlOnEnd === true) { %>
        hideControlOnEnd: true,
      <% } %>
      <% if (page.lg.getCaptionFromTitleOrAlt === false) { %>
        getCaptionFromTitleOrAlt: false,
      <% } %>
      <% if (page.lg.preload) { %>
        preload: <%= page.lg.preload %>,
      <% } %>
      <% if (page.lg.showAfterLoad === false) { %>
        showAfterLoad: false,
      <% } %>
      <% if (page.lg.nextHtml) { %>
        nextHtml: '<%= page.lg.nextHtml %>',
      <% } %>
      <% if (page.lg.prevHtml) { %>
        prevHtml: '<%= page.lg.prevHtml %>',
      <% } %>
      <% if (page.lg.index) { %>
        index: <%= page.lg.index %>,
      <% } %>
      <% if (page.lg.iframeMaxWidth) { %>
        iframeMaxWidth: '<%= page.lg.iframeMaxWidth %>',
      <% } %>
      <% if (page.lg.download === false) { %>
        download: false,
      <% } %>
      <% if (page.lg.counter === false) { %>
        counter: false,
      <% } %>
      <% if (page.lg.swipeThreshold) { %>
        swipeThreshold: <%= page.lg.swipeThreshold %>,
      <% } %>
      <% if (page.lg.enableDrag === false) { %>
        enableDrag: false,
      <% } %>
      <% if (page.lg.enableTouch === false) { %>
        enableTouch: false,
      <% } %>
      <%
      // thumbnial plugin settings
      %>
      <% if (page.lg.thumbnail === false) { %>
        thumbnail: false,
      <% } %>
      <% if (page.lg.animateThumb === false) { %>
        animateThumb: false,
      <% } %>
      <% if (page.lg.currentPagerPosition) { %>
        currentPagerPosition: '<%= page.lg.currentPagerPosition %>',
      <% } %>
      <% if (page.lg.thumbWidth) { %>
        thumbWidth: <%= page.lg.thumbWidth %>,
      <% } %>
      <% if (page.lg.thumbContHeight) { %>
        thumbContHeight: <%= page.lg.thumbContHeight %>,
      <% } %>
      <% if (page.lg.thumbMargin) { %>
        thumbMargin: <%= page.lg.thumbMargin %>,
      <% } %>
      <% if (page.lg.showThumbByDefault === false) { %>
        showThumbByDefault: false,
      <% } %>
      <% if (page.lg.toogleThumb === false) { %>
        toogleThumb: false,
      <% } %>
      <% if (page.lg.pullCaptionUp === false) { %>
        pullCaptionUp: false,
      <% } %>
      <% if (page.lg.enableThumbDrag === false) { %>
        enableThumbDrag: false,
      <% } %>
      <% if (page.lg.enableThumbSwipe === false) { %>
        enableThumbSwipe: false,
      <% } %>
      <% if (page.lg.loadYoutubeThumbnail === false) { %>
        loadYoutubeThumbnail: false,
      <% } %>
      <% if (page.lg.youtubeThumbSize) { %>
        youtubeThumbSize: <%= page.lg.youtubeThumbSize %>,
      <% } %>
      <% if (page.lg.loadVimeoThumbnail === false) { %>
        loadVimeoThumbnail: false,
      <% } %>
      <% if (page.lg.vimeoThumbSize) { %>
        vimeoThumbSize: <%= page.lg.vimeoThumbSize %>,
      <% } %>
      <% if (page.lg.loadDailymotionThumbnail === false) { %>
        loadDailymotionThumbnail: false,
      <% } %>
      <%
      // autoplay plugin settings
      %>
      <% if (page.lg.autoplay === false) { %>
        autoplay: false,
      <% } %>
      <% if (page.lg.pause) { %>
        pause: <%= page.lg.pause %>,
      <% } %>
      <% if (page.lg.progressBar === false) { %>
        progressBar: false,
      <% } %>
      <% if (page.lg.fourceAutoplay === true) { %>
        fourceAutoplay: true,
      <% } %>
      <% if (page.lg.autoplayControls === false) { %>
        autoplayControls: false,
      <% } %>
      <%
       /* video plugin setting
        * untested
        * no videojs supported
        */
      %>
      <% if (page.lg.videoMaxWidth) { %>
        videoMaxWidth: '<%= page.lg.videoMaxWidth %>',
      <% } %>
      <% if (page.lg.youtubePlayerParams) { %>
        youtubePlayerParams: <%= page.lg.youtubePlayerParams %>,
      <% } %>
      <% if (page.lg.vimeoPlayerParams) { %>
        vimeoPlayerParams: <%= page.lg.vimeoPlayerParams %>,
      <% } %>
      <% if (page.lg.dailymotionPlayerParams) { %>
        dailymotionPlayerParams: <%= page.lg.dailymotionPlayerParams %>,
      <% } %>
      <% if (page.lg.vkPlayerParams) { %>
        vkPlayerParams: <%= page.lg.vkPlayerParams %>,
      <% } %>
      <%
      // fullscreen plugin setting
      %>
      <% if (page.lg.fullScreen === false) { %>
        fullScreen: false,
      <% } %>
      <%
      // zoom plugin settings
      %>
      <% if (page.lg.zoom === false) { %>
        zoom: false,
      <% } %>
      <% if (page.lg.scale) { %>
        scale: <%= page.lg.speed %>,
      <% } %>
      <% if (page.lg.enableZoomAfter) { %>
        enableZoomAfter: <%= page.lg.enableZoomAfter %>,
      <% } %>
      <% if (page.lg.actualSize === false) { %>
        actualSize: false,
      <% } %>
      <%
      // hash plugin setting
      %>
      <% if (page.lg.hash === false) { %>
        hash: false,
      <% } %>
    });
  </script>
<% } %>

<!-- Custom javascript -->
<%-partial('../custom/custom_js')%>
