
  <div class="mdui-col-sm-3 mdui-col-xs-12">
    <div class="mdui-card mdui-card-right" style="overflow: visible;">
      <% if(theme.index_head_right.userview === "top") { %>
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="<%= theme.userview.avatar %>"/>
          <div class="mdui-card-header-title"><%= config.author %></div>
          <div class="mdui-card-header-subtitle"><%- theme.index_head_right.subtitle %></div>
        </div>
      <% } %>

        <div class="mdui-card-media" style="padding: 25%">
            <img src="<%= theme.index_head_right.img %>"/>
        </div>

        <% if(theme.index_head_right.userview === "bottom") { %>
          <div class="mdui-card-actions">
            <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#share-menu', covered: 'true'}">
              <i class="mdui-icon material-icons">&#xe80d;</i>
            </button>
            <ul class="mdui-menu" id="share-menu">
              <%- partial('partials/menu/index_share_menu') %>
            </ul>
            <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#pages-menu', covered: 'true'}">
              <i class="mdui-icon material-icons">&#xe8eb;</i>
            </button>
            <ul class="mdui-menu mdui-menu-cascade" id="pages-menu">
              <%- partial('partials/menu/pages/list') %>
              <%- partial('partials/menu/pages/collapse') %>
            </ul>
            <button class="mdui-btn mdui-btn-icon mdui-float-right" mdui-menu="{target: '#search-menu'}">
              <i class="mdui-icon material-icons">&#xe8b6;</i>
            </button>
            <ul class="mdui-menu" id="search-menu">
              <%- partial('partials/menu/index_search_menu') %>
            </ul>
          </div>
        <% } %>
    </div>
</div>
