
  <div class="mdui-col-sm-7 mdui-col-xs-12">
    <div class="mdui-card mdui-card-left">
      <% if(theme.index_head_left.userview === "top") { %>
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="<%= theme.userview.avatar %>"/>
          <div class="mdui-card-header-title"><%= config.author %></div>
          <div class="mdui-card-header-subtitle"><%- theme.index_head_left.subtitle %></div>
        </div>
      <% } %>

      <% if(theme.index_head_left.title === "card-top") { %>
        <div class="mdui-card-primary mdui-typo">
          <div class="mdui-card-primary-title"><%- theme.index_head_left.slogan %></div>
        </div>
      <% } %>

      <div class="mdui-card-media title-covered" style="background-image: url(<%= theme.index_head_left.img %>)">

        <div class="mdui-card-media-covered <% if(theme.index_head_left.gradient === true) { %>mdui-card-media-covered-gradient<% } %> <% if(theme.index_head_left.title === "img-top") { %>mdui-card-media-covered-top<% } %>">
          <% if(theme.index_head_left.title === "img-bottom") { %>
            <div class="mdui-card-primary mdui-typo">
              <div class="mdui-card-primary-title"><%- theme.index_head_left.slogan %></div>
            </div>
          <% } %>
          <% if(theme.index_head_left.title === "img-top") { %>
            <div class="mdui-card-primary mdui-typo">
              <div class="mdui-card-primary-title"><%- theme.index_head_left.slogan %></div>
            </div>
          <% } %>
        </div>
      </div>

      <% if(theme.index_head_left.userview === "center") { %>
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="<%= theme.userview.avatar %>"/>
          <div class="mdui-card-header-title"><%= config.author %></div>
          <div class="mdui-card-header-subtitle"><%- theme.index_head_left.subtitle %></div>
        </div>
      <% } %>

      <% if(theme.index_head_left.title === "card-center") { %>
        <div class="mdui-card-primary mdui-typo">
          <div class="mdui-card-primary-title"><%- theme.index_head_left.slogan %></div>
        </div>
      <% } %>

      <% if(theme.index_head_left.userview === "bottom") { %>
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="<%= theme.userview.avatar %>"/>
          <div class="mdui-card-header-title"><%= config.author %></div>
          <div class="mdui-card-header-subtitle"><%- theme.index_head_left.subtitle %></div>
        </div>
      <% } %>
    </div>

  </div>
