<% for (var i in theme.pages.collapse) { %>
<li class="mdui-menu-item">
    <a title="<%= i %>" class="mdui-ripple">
      <%= i %>
      <span class="mdui-menu-item-more"></span>
    </a>
    <ul class="mdui-menu mdui-menu-cascade">
      <% for (var x in theme.pages.collapse[i].links){ %>
        <li class="mdui-menu-item">
          <a href="<%= theme.pages.collapse[i].links[x].link %>" title="<%= x %>" class="mdui-ripple">
            <%= x %>
          </a>
        </li>
      <% } %>
    </ul>
  </li>
<% } %>
